<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>candy_gray1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{1,325},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_gray2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{1,163},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_gray3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,83}</string>
                <key>spriteSourceSize</key>
                <string>{48,83}</string>
                <key>textureRect</key>
                <string>{{1,63},{48,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_gray4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,83}</string>
                <key>spriteSourceSize</key>
                <string>{29,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{29,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_gray5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{1,409},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>candy_gray6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,83}</string>
                <key>spriteSourceSize</key>
                <string>{29,83}</string>
                <key>textureRect</key>
                <string>{{1,32},{29,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_gray7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,83}</string>
                <key>spriteSourceSize</key>
                <string>{48,83}</string>
                <key>textureRect</key>
                <string>{{1,113},{48,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_gray8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{1,244},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>candy_gray9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{1,325},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anim2.png</string>
            <key>size</key>
            <string>{85,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d304b7b4ae2b912af9566b8d801890d:ef04c073858defccc8437fc16ef59b8e:04e3d35b98db88c54f9550b662ce7434$</string>
            <key>textureFileName</key>
            <string>anim2.png</string>
        </dict>
    </dict>
</plist>
