<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Lobby/creatennv2/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,427}</string>
                <key>spriteSourceSize</key>
                <string>{715,427}</string>
                <key>textureRect</key>
                <string>{{0,72},{715,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/creatennv2/btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,72}</string>
                <key>spriteSourceSize</key>
                <string>{226,72}</string>
                <key>textureRect</key>
                <string>{{415,0},{226,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/creatennv2/girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,658}</string>
                <key>spriteSourceSize</key>
                <string>{255,658}</string>
                <key>textureRect</key>
                <string>{{715,72},{255,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/creatennv2/ic_persion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/creatennv2/icon_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{21,0},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/creatennv2/txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,58}</string>
                <key>spriteSourceSize</key>
                <string>{358,58}</string>
                <key>textureRect</key>
                <string>{{57,0},{358,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CreateNNPlist.png</string>
            <key>size</key>
            <string>{970,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42df58b2eba7c43d74f28d4bb175a8cf:b23d7e67fb7f965b797ca7f05c6743db:8335fdedbea4929fce93a7045d4a9fb4$</string>
            <key>textureFileName</key>
            <string>CreateNNPlist.png</string>
        </dict>
    </dict>
</plist>
