<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/Minigame/ImageChung/bangvinhdanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,517},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>res/Minigame/ImageChung/bg_date.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1179},{165,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,40}</string>
			</dict>
			<key>res/Minigame/ImageChung/bg_date_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,1179},{165,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,40}</string>
			</dict>
			<key>res/Minigame/ImageChung/bg_download.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,1009},{213,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,62}</string>
			</dict>
			<key>res/Minigame/ImageChung/bg_giaithuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,1},{530,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{530,57}</string>
			</dict>
			<key>res/Minigame/ImageChung/bg_minigame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{744,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{744,368}</string>
			</dict>
			<key>res/Minigame/ImageChung/bg_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,663},{63,64}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_closegame.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,807},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_closegame_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,517},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_thanhdu.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1009},{175,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,37}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_thanhdu_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,904},{175,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,37}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_value.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,1224},{91,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,43}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_value_current.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,1238},{91,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,43}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_value_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,371},{91,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,43}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_value_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,371},{91,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,43}</string>
			</dict>
			<key>res/Minigame/ImageChung/btn_value_vip_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,756},{91,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,43}</string>
			</dict>
			<key>res/Minigame/ImageChung/button_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1294},{128,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,41}</string>
			</dict>
			<key>res/Minigame/ImageChung/button_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,943},{128,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,41}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/chat_bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,904},{74,73}}</string>
				<key>offset</key>
				<string>{5,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/chat_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,740},{76,65}}</string>
				<key>offset</key>
				<string>{5,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/chat_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,663},{66,75}}</string>
				<key>offset</key>
				<string>{5,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/chat_tep.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,904},{74,71}}</string>
				<key>offset</key>
				<string>{5,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/J_bi.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1179},{113,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/J_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,758},{113,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/J_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,758},{113,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/J_te.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,464},{113,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/K_bi.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,610},{113,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/K_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,371},{113,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/K_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,517},{113,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/K_te.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,371},{113,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/Q_bi.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,517},{113,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/Q_co.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,371},{113,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/Q_ro.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,371},{113,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/DauNguoi/Q_te.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,486},{113,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ImageChung/huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,575},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>res/Minigame/ImageChung/loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,1},{128,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,15}</string>
			</dict>
			<key>res/Minigame/ImageChung/lsgd.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,581},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>res/Minigame/ImageChung/room_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,943},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/Minigame/ImageChung/shadow_tren.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,1},{695,192}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{698,210}</string>
			</dict>
			<key>res/Minigame/ImageChung/Title.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,533},{474,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,62}</string>
			</dict>
			<key>res/Minigame/ImageChung/vachdung.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,1},{1,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,41}</string>
			</dict>
			<key>res/Minigame/ImageChung/Vong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1186},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/Minigame/ImageChung/Vong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1212},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/Minigame/ImageChung/Vong3.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,1179},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/Minigame/ImageChung/b_tab_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1231},{385,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{385,56}</string>
			</dict>
			<key>res/Minigame/ImageChung/b_tab_0_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1278},{385,54}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{385,56}</string>
			</dict>
			<key>res/Minigame/ImageChung/b_tab_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1288},{385,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{385,56}</string>
			</dict>
			<key>res/Minigame/ImageChung/b_tab_1_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,371},{385,54}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{385,56}</string>
			</dict>
			<key>res/Minigame/ImageChung/b_tab_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1221},{385,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{385,56}</string>
			</dict>
			<key>res/Minigame/ImageChung/b_tab_2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,371},{385,54}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{385,56}</string>
			</dict>
			<key>res/Minigame/ImageChung/bg_nohu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1009},{371,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,220}</string>
			</dict>
			<key>res/Minigame/ImageChung/glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,698},{545,479}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{545,479}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistImageChung.png</string>
			<key>realTextureFileName</key>
			<string>PlistImageChung.png</string>
			<key>size</key>
			<string>{1023,1344}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1344</integer>
		</dict>
	</dict>
</plist>