<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>demvt_baootrung0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1204},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,903},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,602},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,301},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1505},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1204},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,903},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,602},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,301},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1505},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1204},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,903},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,602},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,301},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1505},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1204},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,903},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,602},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,301},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>demvt_baootrung0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1505},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>boxOTrung.png</string>
			</dict>
		</dict>
</plist>