<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/lobbyv2/register/btn_refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,59}</string>
                <key>spriteSourceSize</key>
                <string>{57,59}</string>
                <key>textureRect</key>
                <string>{{284,732},{57,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/lobbyv2/register/captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,33}</string>
                <key>spriteSourceSize</key>
                <string>{108,33}</string>
                <key>textureRect</key>
                <string>{{174,732},{108,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/register/checked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,30}</string>
                <key>spriteSourceSize</key>
                <string>{35,30}</string>
                <key>textureRect</key>
                <string>{{345,732},{35,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/lobbyv2/register/girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,669}</string>
                <key>spriteSourceSize</key>
                <string>{380,669}</string>
                <key>textureRect</key>
                <string>{{1,1},{380,669}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/register/ic_block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{345,769},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/register/ic_captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{315,791},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/register/ic_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{219,767},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/register/ic_visi_false.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{251,767},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/register/ic_visi_true.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{283,791},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/register/radio.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{174,767},{42,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/lobbyv2/register/txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,58}</string>
                <key>spriteSourceSize</key>
                <string>{358,58}</string>
                <key>textureRect</key>
                <string>{{1,672},{358,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/register/txt_captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,58}</string>
                <key>spriteSourceSize</key>
                <string>{171,58}</string>
                <key>textureRect</key>
                <string>{{1,732},{171,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RegisterPlist.png</string>
            <key>size</key>
            <string>{382,822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e18b24393b8e323fd5ace0a1ceaca967:4bcf261b2e7b610c60649ec07ba69ae1:56492f7b47797436cbd659a4123fd057$</string>
            <key>textureFileName</key>
            <string>RegisterPlist.png</string>
        </dict>
    </dict>
</plist>
