<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box001.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,460},{183,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,178}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>bungto2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,720},{212,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,231}}</string>
                <key>sourceSize</key>
                <string>{212,231}</string>
            </dict>
            <key>ca chuon-1.12.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1},{94,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,106}}</string>
                <key>sourceSize</key>
                <string>{94,106}</string>
            </dict>
            <key>ca chuon-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,109},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ca chuon-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,205},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ca den pin-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,953},{66,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,41}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>ca den pin-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,947},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,46}</string>
            </dict>
            <key>ca den pin-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,947},{76,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,46}}</string>
                <key>sourceSize</key>
                <string>{76,46}</string>
            </dict>
            <key>ca vang-8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,267},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>caduoi-7-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,460},{200,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,222}}</string>
                <key>sourceSize</key>
                <string>{200,222}</string>
            </dict>
            <key>cahoa-5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,302},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>cahoa-6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,376},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>duoi vang-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,302},{126,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,143}}</string>
                <key>sourceSize</key>
                <string>{126,143}</string>
            </dict>
            <key>fish_191_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,447},{206,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,121}}</string>
                <key>sourceSize</key>
                <string>{206,121}</string>
            </dict>
            <key>fish_19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,645},{178,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,126}}</string>
                <key>sourceSize</key>
                <string>{178,126}</string>
            </dict>
            <key>fish_221_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,267},{316,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,165}}</string>
                <key>sourceSize</key>
                <string>{316,165}</string>
            </dict>
            <key>fish_231_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1},{357,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,264}}</string>
                <key>sourceSize</key>
                <string>{357,264}</string>
            </dict>
            <key>fish_24_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,684},{196,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,165}}</string>
                <key>sourceSize</key>
                <string>{196,165}</string>
            </dict>
            <key>fish_25_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,302},{121,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{121,153}}</string>
                <key>sourceSize</key>
                <string>{121,155}</string>
            </dict>
            <key>fish_tcv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{565,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{565,299}}</string>
                <key>sourceSize</key>
                <string>{567,299}</string>
            </dict>
            <key>kemo-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,953},{106,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,63}}</string>
                <key>sourceSize</key>
                <string>{106,63}</string>
            </dict>
            <key>kemo-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,882},{105,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,63}}</string>
                <key>sourceSize</key>
                <string>{105,63}</string>
            </dict>
            <key>kemo-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,953},{106,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,63}}</string>
                <key>sourceSize</key>
                <string>{106,63}</string>
            </dict>
            <key>mapxanh-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,655},{192,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,101}}</string>
                <key>sourceSize</key>
                <string>{192,101}</string>
            </dict>
            <key>muc-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,460},{258,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,141}}</string>
                <key>sourceSize</key>
                <string>{258,141}</string>
            </dict>
            <key>rua-4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,320},{134,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,138}}</string>
                <key>sourceSize</key>
                <string>{134,138}</string>
            </dict>
            <key>sua-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,302},{215,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,153}}</string>
                <key>sourceSize</key>
                <string>{215,153}</string>
            </dict>
            <key>tom-3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,882},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fish2Dicon.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f76bcb5dc71f795fa6c726e953826f78:60c94b7955f654f28fabe72edb640f4a:143d99fd9363d6f49cf4f1fa7b51a2ee$</string>
            <key>textureFileName</key>
            <string>fish2Dicon.png</string>
        </dict>
    </dict>
</plist>
