<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Lobby/forgotpasswordv2/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,427}</string>
                <key>spriteSourceSize</key>
                <string>{715,427}</string>
                <key>textureRect</key>
                <string>{{1,1},{715,427}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Lobby/forgotpasswordv2/btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,72}</string>
                <key>spriteSourceSize</key>
                <string>{226,72}</string>
                <key>textureRect</key>
                <string>{{1,1384},{226,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/forgotpasswordv2/btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{229,1446},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/forgotpasswordv2/btn_refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{58,60}</string>
                <key>textureRect</key>
                <string>{{361,1324},{58,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Lobby/forgotpasswordv2/captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,34}</string>
                <key>spriteSourceSize</key>
                <string>{110,34}</string>
                <key>textureRect</key>
                <string>{{392,757},{110,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Lobby/forgotpasswordv2/girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,604}</string>
                <key>spriteSourceSize</key>
                <string>{389,604}</string>
                <key>textureRect</key>
                <string>{{1,718},{389,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/forgotpasswordv2/ic_block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{392,869},{17,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Lobby/forgotpasswordv2/ic_persion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{392,888},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/forgotpasswordv2/ic_telegram.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{276,1446},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/forgotpasswordv2/ic_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{392,718},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/forgotpasswordv2/txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,58}</string>
                <key>spriteSourceSize</key>
                <string>{358,58}</string>
                <key>textureRect</key>
                <string>{{1,1324},{358,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/forgotpasswordv2/txt_captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,60}</string>
                <key>spriteSourceSize</key>
                <string>{177,60}</string>
                <key>textureRect</key>
                <string>{{229,1384},{177,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ForgotPasswordPlist.png</string>
            <key>size</key>
            <string>{429,1492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f897bb94644273f391a163805f8ec55:94e002702ce520a522d3d5052ab0efa1:690effeaece0bd0b90f803fbc707703a$</string>
            <key>textureFileName</key>
            <string>ForgotPasswordPlist.png</string>
        </dict>
    </dict>
</plist>
