<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/CardGame/CommonResource/BanChoi/bao1a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,165}</string>
                <key>spriteSourceSize</key>
                <string>{113,165}</string>
                <key>textureRect</key>
                <string>{{0,721},{113,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/bao1b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,165}</string>
                <key>spriteSourceSize</key>
                <string>{113,165}</string>
                <key>textureRect</key>
                <string>{{113,721},{113,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/bgName.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,45}</string>
                <key>spriteSourceSize</key>
                <string>{96,45}</string>
                <key>textureRect</key>
                <string>{{373,110},{96,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/btn_back_gamebai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{249,223},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/btn_baosam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,74}</string>
                <key>spriteSourceSize</key>
                <string>{223,74}</string>
                <key>textureRect</key>
                <string>{{323,223},{223,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/btn_boluot_xeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,74}</string>
                <key>spriteSourceSize</key>
                <string>{223,74}</string>
                <key>textureRect</key>
                <string>{{546,223},{223,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/btn_cash_gamebai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{446,297},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/btn_chat_gamebai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{76,74}</string>
                <key>textureRect</key>
                <string>{{769,223},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/btn_danhbai_xeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,74}</string>
                <key>spriteSourceSize</key>
                <string>{223,74}</string>
                <key>textureRect</key>
                <string>{{0,297},{223,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/btn_exit_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{0,160},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/btn_faq_gamebai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{177,223},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/btn_huybao_sam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,74}</string>
                <key>spriteSourceSize</key>
                <string>{223,74}</string>
                <key>textureRect</key>
                <string>{{223,297},{223,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/btn_toi_trang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{526,297},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/btn_xacnhan_endgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,65}</string>
                <key>spriteSourceSize</key>
                <string>{177,65}</string>
                <key>textureRect</key>
                <string>{{0,223},{177,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/btn_xepbai_xeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{640,297},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/icon_bao_sam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,50}</string>
                <key>spriteSourceSize</key>
                <string>{191,50}</string>
                <key>textureRect</key>
                <string>{{469,110},{191,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/icon_huy_bao_sam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,50}</string>
                <key>spriteSourceSize</key>
                <string>{191,50}</string>
                <key>textureRect</key>
                <string>{{660,110},{191,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/khung_bao_binh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,62}</string>
                <key>spriteSourceSize</key>
                <string>{299,62}</string>
                <key>textureRect</key>
                <string>{{57,160},{299,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/khung_bao_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,37}</string>
                <key>spriteSourceSize</key>
                <string>{333,37}</string>
                <key>textureRect</key>
                <string>{{0,110},{333,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/khung_vong_cung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{663,192}</string>
                <key>spriteSourceSize</key>
                <string>{663,192}</string>
                <key>textureRect</key>
                <string>{{226,721},{663,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/logo_lieng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,26}</string>
                <key>spriteSourceSize</key>
                <string>{228,26}</string>
                <key>textureRect</key>
                <string>{{319,20},{228,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/logo_maubinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,31}</string>
                <key>spriteSourceSize</key>
                <string>{274,31}</string>
                <key>textureRect</key>
                <string>{{437,74},{274,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/logo_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,20}</string>
                <key>spriteSourceSize</key>
                <string>{228,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{228,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/logo_sam_loc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,28}</string>
                <key>spriteSourceSize</key>
                <string>{259,28}</string>
                <key>textureRect</key>
                <string>{{0,46},{259,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/logo_sam_solo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,28}</string>
                <key>spriteSourceSize</key>
                <string>{329,28}</string>
                <key>textureRect</key>
                <string>{{259,46},{329,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/logo_tlmn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,20}</string>
                <key>spriteSourceSize</key>
                <string>{220,20}</string>
                <key>textureRect</key>
                <string>{{228,0},{220,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/logo_tlmn_solo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,20}</string>
                <key>spriteSourceSize</key>
                <string>{291,20}</string>
                <key>textureRect</key>
                <string>{{448,0},{291,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/logo_xocxoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,26}</string>
                <key>spriteSourceSize</key>
                <string>{256,26}</string>
                <key>textureRect</key>
                <string>{{547,20},{256,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/muiten_banchoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{333,110},{40,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/nenChienThang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{853,162}</string>
                <key>spriteSourceSize</key>
                <string>{853,162}</string>
                <key>textureRect</key>
                <string>{{0,559},{853,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/nenThuaCuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{737,140}</string>
                <key>spriteSourceSize</key>
                <string>{737,140}</string>
                <key>textureRect</key>
                <string>{{0,419},{737,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/nen_so_bai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{52,28}</string>
                <key>textureRect</key>
                <string>{{588,46},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/ping_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{325,74},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/ping_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{353,74},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/ping_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{381,74},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/ping_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{409,74},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/process_baosam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,21}</string>
                <key>spriteSourceSize</key>
                <string>{319,21}</string>
                <key>textureRect</key>
                <string>{{0,20},{319,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/process_nen_baosam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,28}</string>
                <key>spriteSourceSize</key>
                <string>{325,28}</string>
                <key>textureRect</key>
                <string>{{0,74},{325,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/sam_that_bai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,63}</string>
                <key>spriteSourceSize</key>
                <string>{520,63}</string>
                <key>textureRect</key>
                <string>{{356,160},{520,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/CardGame/CommonResource/BanChoi/viewing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,36}</string>
                <key>spriteSourceSize</key>
                <string>{129,36}</string>
                <key>textureRect</key>
                <string>{{711,74},{129,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlistBanChoi.png</string>
            <key>size</key>
            <string>{889,913}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b5ae025cc456267c67fb3b39adaadac:41310f8a9dea0bf2fabbf07e2667c9d9:a9ec47057a355702e437c85bbd820c7d$</string>
            <key>textureFileName</key>
            <string>PlistBanChoi.png</string>
        </dict>
    </dict>
</plist>
