<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Minigamev2/magicdoor/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,376}</string>
                <key>spriteSourceSize</key>
                <string>{376,376}</string>
                <key>textureRect</key>
                <string>{{1,1},{376,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/magicdoor/ic_baucua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{211,379},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/magicdoor/ic_mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{292,379},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/magicdoor/ic_minigame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,127}</string>
                <key>spriteSourceSize</key>
                <string>{125,127}</string>
                <key>textureRect</key>
                <string>{{1,379},{125,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/magicdoor/ic_taixiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,79}</string>
                <key>textureRect</key>
                <string>{{130,379},{80,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/magicdoor/time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{130,461},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MagicDoorPlist.png</string>
            <key>size</key>
            <string>{378,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae8f2f5d6ac9f25fe4d2f5386ef5fced:31ef7fc493835e62b9415e29e3aa1672:884f61840d5da2fe96cc57ca7a37b630$</string>
            <key>textureFileName</key>
            <string>MagicDoorPlist.png</string>
        </dict>
    </dict>
</plist>
