<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/ResourceMenuTab/NO.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{424,25},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_capnhat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,67}</string>
                <key>spriteSourceSize</key>
                <string>{179,67}</string>
                <key>textureRect</key>
                <string>{{696,391},{179,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_change.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,67}</string>
                <key>spriteSourceSize</key>
                <string>{179,67}</string>
                <key>textureRect</key>
                <string>{{0,458},{179,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_changefone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,67}</string>
                <key>spriteSourceSize</key>
                <string>{413,67}</string>
                <key>textureRect</key>
                <string>{{179,458},{413,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_createNick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,61}</string>
                <key>spriteSourceSize</key>
                <string>{217,61}</string>
                <key>textureRect</key>
                <string>{{73,391},{217,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_dangky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,67}</string>
                <key>spriteSourceSize</key>
                <string>{179,67}</string>
                <key>textureRect</key>
                <string>{{592,458},{179,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_doixu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,67}</string>
                <key>spriteSourceSize</key>
                <string>{179,67}</string>
                <key>textureRect</key>
                <string>{{771,458},{179,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_hoantat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,67}</string>
                <key>spriteSourceSize</key>
                <string>{179,67}</string>
                <key>textureRect</key>
                <string>{{0,525},{179,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_huydangky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,67}</string>
                <key>spriteSourceSize</key>
                <string>{179,67}</string>
                <key>textureRect</key>
                <string>{{179,525},{179,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_layotp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,72}</string>
                <key>spriteSourceSize</key>
                <string>{185,72}</string>
                <key>textureRect</key>
                <string>{{718,592},{185,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_luulai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,67}</string>
                <key>spriteSourceSize</key>
                <string>{179,67}</string>
                <key>textureRect</key>
                <string>{{358,525},{179,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_muc_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,46}</string>
                <key>spriteSourceSize</key>
                <string>{104,46}</string>
                <key>textureRect</key>
                <string>{{395,183},{104,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_muc_0_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,46}</string>
                <key>spriteSourceSize</key>
                <string>{104,46}</string>
                <key>textureRect</key>
                <string>{{499,183},{104,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_muc_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,46}</string>
                <key>spriteSourceSize</key>
                <string>{104,46}</string>
                <key>textureRect</key>
                <string>{{603,183},{104,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_muc_1_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,46}</string>
                <key>spriteSourceSize</key>
                <string>{104,46}</string>
                <key>textureRect</key>
                <string>{{707,183},{104,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_muc_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,46}</string>
                <key>spriteSourceSize</key>
                <string>{104,46}</string>
                <key>textureRect</key>
                <string>{{811,183},{104,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_muc_2_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,46}</string>
                <key>spriteSourceSize</key>
                <string>{104,46}</string>
                <key>textureRect</key>
                <string>{{0,229},{104,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_nhanqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,67}</string>
                <key>spriteSourceSize</key>
                <string>{179,67}</string>
                <key>textureRect</key>
                <string>{{537,525},{179,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_quaylai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,67}</string>
                <key>spriteSourceSize</key>
                <string>{179,67}</string>
                <key>textureRect</key>
                <string>{{716,525},{179,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_resend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,67}</string>
                <key>spriteSourceSize</key>
                <string>{179,67}</string>
                <key>textureRect</key>
                <string>{{0,592},{179,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_setting_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,39}</string>
                <key>spriteSourceSize</key>
                <string>{172,39}</string>
                <key>textureRect</key>
                <string>{{446,60},{172,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_setting_0_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,39}</string>
                <key>spriteSourceSize</key>
                <string>{172,39}</string>
                <key>textureRect</key>
                <string>{{618,60},{172,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_setting_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,39}</string>
                <key>spriteSourceSize</key>
                <string>{172,39}</string>
                <key>textureRect</key>
                <string>{{790,60},{172,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_setting_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,39}</string>
                <key>spriteSourceSize</key>
                <string>{172,39}</string>
                <key>textureRect</key>
                <string>{{0,99},{172,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_setting_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,39}</string>
                <key>spriteSourceSize</key>
                <string>{172,39}</string>
                <key>textureRect</key>
                <string>{{172,99},{172,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_thaydoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,67}</string>
                <key>spriteSourceSize</key>
                <string>{179,67}</string>
                <key>textureRect</key>
                <string>{{179,592},{179,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_tieptuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,67}</string>
                <key>spriteSourceSize</key>
                <string>{179,67}</string>
                <key>textureRect</key>
                <string>{{358,592},{179,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/b_xacnhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,67}</string>
                <key>spriteSourceSize</key>
                <string>{181,67}</string>
                <key>textureRect</key>
                <string>{{537,592},{181,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/btnNap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{680,139},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/btn_nhanqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,75}</string>
                <key>spriteSourceSize</key>
                <string>{238,75}</string>
                <key>textureRect</key>
                <string>{{0,664},{238,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/btn_nhapma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,58}</string>
                <key>spriteSourceSize</key>
                <string>{171,58}</string>
                <key>textureRect</key>
                <string>{{713,332},{171,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{411,0},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ck_dongbang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,25}</string>
                <key>spriteSourceSize</key>
                <string>{180,25}</string>
                <key>textureRect</key>
                <string>{{436,0},{180,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ck_dongbang_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,25}</string>
                <key>spriteSourceSize</key>
                <string>{180,25}</string>
                <key>textureRect</key>
                <string>{{616,0},{180,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ck_modongbang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,25}</string>
                <key>spriteSourceSize</key>
                <string>{180,25}</string>
                <key>textureRect</key>
                <string>{{0,25},{180,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ck_modongbang_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,25}</string>
                <key>spriteSourceSize</key>
                <string>{180,25}</string>
                <key>textureRect</key>
                <string>{{180,25},{180,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/click2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{360,25},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/cr_nickname.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,248}</string>
                <key>spriteSourceSize</key>
                <string>{556,248}</string>
                <key>textureRect</key>
                <string>{{417,664},{556,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ic_code.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{42,34}</string>
                <key>textureRect</key>
                <string>{{534,25},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ic_fb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{344,99},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ic_giaodich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,19}</string>
                <key>spriteSourceSize</key>
                <string>{83,19}</string>
                <key>textureRect</key>
                <string>{{304,0},{83,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ic_global.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{359,139},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ic_lydo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{360,60},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ic_mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,33}</string>
                <key>spriteSourceSize</key>
                <string>{42,33}</string>
                <key>textureRect</key>
                <string>{{453,25},{42,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ic_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{401,139},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ic_phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{400,60},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ic_quantity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{275,139},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ic_receive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{317,139},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/ic_tele.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{383,99},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/iconNaga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{507,391},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/iconXu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{570,391},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/icon_test.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,59}</string>
                <key>spriteSourceSize</key>
                <string>{62,59}</string>
                <key>textureRect</key>
                <string>{{884,332},{62,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/img_listhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,129}</string>
                <key>spriteSourceSize</key>
                <string>{179,129}</string>
                <key>textureRect</key>
                <string>{{238,664},{179,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/lay_sms_otp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,61}</string>
                <key>spriteSourceSize</key>
                <string>{217,61}</string>
                <key>textureRect</key>
                <string>{{290,391},{217,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/muchu-n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,44}</string>
                <key>textureRect</key>
                <string>{{724,139},{100,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/muchu-s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,44}</string>
                <key>spriteSourceSize</key>
                <string>{100,44}</string>
                <key>textureRect</key>
                <string>{{824,139},{100,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/naga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{0,60},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/s_coin_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,60}</string>
                <key>spriteSourceSize</key>
                <string>{73,60}</string>
                <key>textureRect</key>
                <string>{{0,391},{73,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/s_coin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,28}</string>
                <key>spriteSourceSize</key>
                <string>{39,28}</string>
                <key>textureRect</key>
                <string>{{385,25},{39,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/s_coin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,21}</string>
                <key>spriteSourceSize</key>
                <string>{24,21}</string>
                <key>textureRect</key>
                <string>{{387,0},{24,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,33}</string>
                <key>spriteSourceSize</key>
                <string>{39,33}</string>
                <key>textureRect</key>
                <string>{{495,25},{39,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/sp_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,1}</string>
                <key>spriteSourceSize</key>
                <string>{304,1}</string>
                <key>textureRect</key>
                <string>{{0,0},{304,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/star_allhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{633,391},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/titleJackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,35}</string>
                <key>spriteSourceSize</key>
                <string>{205,35}</string>
                <key>textureRect</key>
                <string>{{576,25},{205,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_bangvinhdanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,48}</string>
                <key>spriteSourceSize</key>
                <string>{310,48}</string>
                <key>textureRect</key>
                <string>{{283,229},{310,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_baomat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,55}</string>
                <key>spriteSourceSize</key>
                <string>{165,55}</string>
                <key>textureRect</key>
                <string>{{778,277},{165,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_changeAvatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,40}</string>
                <key>spriteSourceSize</key>
                <string>{305,40}</string>
                <key>textureRect</key>
                <string>{{422,99},{305,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_changepass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,43}</string>
                <key>spriteSourceSize</key>
                <string>{237,43}</string>
                <key>textureRect</key>
                <string>{{443,139},{237,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_chuyenkhoan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,48}</string>
                <key>spriteSourceSize</key>
                <string>{287,48}</string>
                <key>textureRect</key>
                <string>{{593,229},{287,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_detail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,48}</string>
                <key>spriteSourceSize</key>
                <string>{153,48}</string>
                <key>textureRect</key>
                <string>{{0,277},{153,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_event_atchubai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,55}</string>
                <key>spriteSourceSize</key>
                <string>{378,55}</string>
                <key>textureRect</key>
                <string>{{0,332},{378,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_eventbc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,53}</string>
                <key>spriteSourceSize</key>
                <string>{264,53}</string>
                <key>textureRect</key>
                <string>{{514,277},{264,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_giftcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,37}</string>
                <key>spriteSourceSize</key>
                <string>{180,37}</string>
                <key>textureRect</key>
                <string>{{37,60},{180,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_hoso.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,40}</string>
                <key>spriteSourceSize</key>
                <string>{275,40}</string>
                <key>textureRect</key>
                <string>{{0,139},{275,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_lsgd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,55}</string>
                <key>spriteSourceSize</key>
                <string>{335,55}</string>
                <key>textureRect</key>
                <string>{{378,332},{335,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,46}</string>
                <key>spriteSourceSize</key>
                <string>{179,46}</string>
                <key>textureRect</key>
                <string>{{104,229},{179,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_nhapxacthuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,52}</string>
                <key>spriteSourceSize</key>
                <string>{361,52}</string>
                <key>textureRect</key>
                <string>{{153,277},{361,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,37}</string>
                <key>spriteSourceSize</key>
                <string>{106,37}</string>
                <key>textureRect</key>
                <string>{{217,60},{106,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/tx_thongbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,35}</string>
                <key>spriteSourceSize</key>
                <string>{192,35}</string>
                <key>textureRect</key>
                <string>{{781,25},{192,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/txt_title_giftcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{395,45}</string>
                <key>spriteSourceSize</key>
                <string>{395,45}</string>
                <key>textureRect</key>
                <string>{{0,183},{395,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/ResourceMenuTab/xu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{323,60},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlistResourceMenuTab.png</string>
            <key>size</key>
            <string>{973,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e26a20c6e68d46e4f0788d41aa6dfa8:d54065b6b9bb55d92d7e321dd5f4a224:c09e2bc4ee4a2af94b821f6a748ac7c7$</string>
            <key>textureFileName</key>
            <string>PlistResourceMenuTab.png</string>
        </dict>
    </dict>
</plist>
