<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/ResourceMenuTab/Vip/bg-avt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{325,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{325,160}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/bg_topxh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,328},{255,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,180}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/btn_bangxephang.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/btn_muiten_vp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,640},{8,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,50}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/btn_nhanthuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,1},{131,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,38}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/btn_nhanthuongvip.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,485},{264,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,61}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/btn_nhanthuongvip_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,548},{264,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,61}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/btn_nhanthuong_dis.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,134},{131,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,38}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/btn_nhanthuong_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,267},{131,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,38}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/btn_thele.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,107},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/car.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,135},{84,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,31}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/cotmoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,400},{93,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,45}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/dich.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,495},{49,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,66}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/lv_vip2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,585},{663,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{663,33}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/lv_vip_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,620},{985,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{985,18}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/notice_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,213},{93,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/sp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,591},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,32}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/sp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,615},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,32}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/sp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,221},{22,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,32}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/tab_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,1},{482,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{488,99}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/text-start.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,135},{89,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,26}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/vitri.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,226},{27,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,20}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/vitri_chose.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,563},{50,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,45}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/xuatphat.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,78},{62,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,56}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/xuatphat_chose.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,1},{75,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,58}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/lv_vip_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,416},{173,20}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,30}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/lv_vip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,231},{183,20}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,30}</string>
			</dict>
			<key>res/ResourceMenuTab/Vip/lv_vip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1},{228,20}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistVip.png</string>
			<key>realTextureFileName</key>
			<string>PlistVip.png</string>
			<key>size</key>
			<string>{1021,649}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1021</integer>
			<key>height</key>
			<integer>649</integer>
		</dict>
	</dict>
</plist>