<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/Minigame/BauCua/background_item.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,641},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>res/Minigame/BauCua/bau.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,955},{68,71}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,250},{245,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,74}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_phien.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,469},{145,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,48}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_select_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,250},{370,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,61}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_soicau.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,250},{217,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,219}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,684},{109,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,36}</string>
			</dict>
			<key>res/Minigame/BauCua/button_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,684},{128,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,41}</string>
			</dict>
			<key>res/Minigame/BauCua/button_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,616},{130,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,41}</string>
			</dict>
			<key>res/Minigame/BauCua/ca.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,727},{97,68}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>res/Minigame/BauCua/cua.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,793},{102,76}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>res/Minigame/BauCua/ga.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,866},{81,87}}</string>
				<key>offset</key>
				<string>{-10,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>res/Minigame/BauCua/Glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,469},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>res/Minigame/BauCua/huou.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,866},{52,95}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>res/Minigame/BauCua/Invisible.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,881},{117,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_bau1.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,280},{39,39}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_bau2.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,321},{40,40}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_bau3.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,616},{41,41}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_ca1.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,929},{41,32}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_ca2.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,927},{40,33}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_ca3.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,879},{37,35}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_cua1.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,433},{43,41}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_cua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,342},{42,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_cua3.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,387},{41,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_ga1.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,837},{40,41}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_ga2.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,659},{41,41}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_ga3.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,280},{42,39}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_huou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,568},{37,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_huou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,521},{38,45}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_huou3.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,702},{40,42}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_tom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,790},{37,45}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_tom2.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,744},{38,44}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_tom3.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,478},{42,41}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,355},{27,28}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,32}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,927},{33,30}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,32}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,321},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,32}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,927},{36,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,32}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,321},{33,32}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,32}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,355},{28,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,32}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/cau_da_ve.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,963},{69,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,43}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/cau_vua_ve.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,959},{69,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,43}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/Click_soi_cau.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,641},{158,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,50}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/Nor_soi_cau.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,748},{158,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,50}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/soicau_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,871},{69,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,43}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/soicau_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,958},{69,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,43}</string>
			</dict>
			<key>res/Minigame/BauCua/tom.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,722},{69,92}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>res/Minigame/BauCua/VongTron.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,1},{1,1}}</string>
				<key>offset</key>
				<string>{116,-117}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,235}</string>
			</dict>
			<key>res/Minigame/BauCua/x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,963},{91,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,54}</string>
			</dict>
			<key>res/Minigame/BauCua/x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,871},{91,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,54}</string>
			</dict>
			<key>res/Minigame/BauCua/x4.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,280},{60,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,40}</string>
			</dict>
			<key>res/Minigame/BauCua/x6.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,866},{61,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,40}</string>
			</dict>
			<key>res/Minigame/BauCua/x9.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,916},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,40}</string>
			</dict>
			<key>res/Minigame/BauCua/xengdo.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,280},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
			<key>res/Minigame/BauCua/background_item_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,761},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_muc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{372,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{372,247}</string>
			</dict>
			<key>res/Minigame/BauCua/b_datlai.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,881},{179,67}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,68}</string>
			</dict>
			<key>res/Minigame/BauCua/b_gapthep.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,801},{177,66}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,68}</string>
			</dict>
			<key>res/Minigame/BauCua/b_soicau.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,622},{161,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,60}</string>
			</dict>
			<key>res/Minigame/BauCua/b_xacnhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,798},{177,66}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,68}</string>
			</dict>
			<key>res/Minigame/BauCua/b_xoa.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,950},{179,67}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,68}</string>
			</dict>
			<key>res/Minigame/BauCua/eventsau.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1},{306,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,277}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistMNBauCua.png</string>
			<key>realTextureFileName</key>
			<string>PlistMNBauCua.png</string>
			<key>size</key>
			<string>{685,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>685</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>