<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Minigamev2/sicbo/checkdice/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{900,717}</string>
                <key>spriteSourceSize</key>
                <string>{900,729}</string>
                <key>textureRect</key>
                <string>{{1,1},{900,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/bg_checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{903,673},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/bg_count.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,44}</string>
                <key>spriteSourceSize</key>
                <string>{216,44}</string>
                <key>textureRect</key>
                <string>{{903,1},{216,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/bg_grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{781,175}</string>
                <key>spriteSourceSize</key>
                <string>{781,175}</string>
                <key>textureRect</key>
                <string>{{1,720},{781,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{925,822},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/dice_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{784,720},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/dice_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{955,214},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/dice_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{935,673},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/dice_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{886,720},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/dice_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{963,673},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/line_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,5}</string>
                <key>spriteSourceSize</key>
                <string>{59,5}</string>
                <key>textureRect</key>
                <string>{{925,888},{59,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/line_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,4}</string>
                <key>spriteSourceSize</key>
                <string>{538,4}</string>
                <key>textureRect</key>
                <string>{{949,1},{538,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/line_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,6}</string>
                <key>spriteSourceSize</key>
                <string>{211,6}</string>
                <key>textureRect</key>
                <string>{{969,1},{211,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{903,541},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/next_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{903,607},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/nodebox_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{935,702},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/nodebox_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{951,702},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/nodebox_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{967,702},{14,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/checkdice/tooltip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,67}</string>
                <key>spriteSourceSize</key>
                <string>{139,67}</string>
                <key>textureRect</key>
                <string>{{784,822},{139,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CheckDicePlist.png</string>
            <key>size</key>
            <string>{990,896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53620c0e92679866bf97c6d8b62f3566:6acf1d4b59723f7a6fdf28eba6a98ce9:f27334c7ed4d00c579d0c7067506c4f2$</string>
            <key>textureFileName</key>
            <string>CheckDicePlist.png</string>
        </dict>
    </dict>
</plist>
