<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ImgAvatarBorder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,419},{353,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,121}}</string>
                <key>sourceSize</key>
                <string>{353,121}</string>
            </dict>
            <key>ImgBtnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,514},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ImgBtnDownload.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,409},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{130,98}</string>
            </dict>
            <key>ImgBtnEmail.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,411},{94,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,101}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>ImgBtnFanPage.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,514},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ImgBtnFullScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,512},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ImgBtnGoldPlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,542},{214,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,56}}</string>
                <key>sourceSize</key>
                <string>{214,56}</string>
            </dict>
            <key>ImgBtnHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,512},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ImgBtnMiniGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,411},{94,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,99}}</string>
                <key>sourceSize</key>
                <string>{94,99}</string>
            </dict>
            <key>ImgBtnMusicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,503},{88,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,91}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>ImgBtnMusicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,503},{88,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,91}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>ImgBtnOption.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,511},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ImgBtnPB.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,409},{106,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,92}}</string>
                <key>sourceSize</key>
                <string>{106,92}</string>
            </dict>
            <key>ImgBtnRoom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1},{341,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,406}}</string>
                <key>sourceSize</key>
                <string>{341,406}</string>
            </dict>
            <key>ImgBtnRoom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1},{355,408}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{355,408}}</string>
                <key>sourceSize</key>
                <string>{357,408}</string>
            </dict>
            <key>ImgBtnRoom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{318,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{318,416}}</string>
                <key>sourceSize</key>
                <string>{318,418}</string>
            </dict>
            <key>ImgBtnTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,411},{94,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,99}}</string>
                <key>sourceSize</key>
                <string>{94,99}</string>
            </dict>
            <key>TexArrowBlueSky.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,578},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>TexBtnGiftCode.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,411},{106,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,98}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>TexBtnOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,542},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>TexInputBgDark.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,542},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RESMenu.png</string>
            <key>size</key>
            <string>{1023,599}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59720a90cfebd3c05f7c79aa7722b5ff:cc1a20e7182cb95e5994fc119fc8140b:653ff75a05c4943eaf01612ec716d2c2$</string>
            <key>textureFileName</key>
            <string>RESMenu.png</string>
        </dict>
    </dict>
</plist>
