<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/commonv2/tab/tab_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,63}</string>
                <key>spriteSourceSize</key>
                <string>{187,63}</string>
                <key>textureRect</key>
                <string>{{1,1},{187,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/commonv2/tab/tab_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,63}</string>
                <key>spriteSourceSize</key>
                <string>{187,63}</string>
                <key>textureRect</key>
                <string>{{190,1},{187,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TabPlist.png</string>
            <key>size</key>
            <string>{378,65}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d52cab29c2e624fbd2098e0ed3e8be26:7666806586f5d19cc5c753b9816e07d5:606d3311f0ad64996a8cd733605aa969$</string>
            <key>textureFileName</key>
            <string>TabPlist.png</string>
        </dict>
    </dict>
</plist>
