<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/commonv2/layoutlistsicbo/grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,392}</string>
                <key>spriteSourceSize</key>
                <string>{501,392}</string>
                <key>textureRect</key>
                <string>{{1,23},{501,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/commonv2/layoutlistsicbo/line_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,7}</string>
                <key>spriteSourceSize</key>
                <string>{497,7}</string>
                <key>textureRect</key>
                <string>{{1,4},{497,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/commonv2/layoutlistsicbo/line_height.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,172}</string>
                <key>spriteSourceSize</key>
                <string>{1,172}</string>
                <key>textureRect</key>
                <string>{{1,1},{1,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/commonv2/layoutlistsicbo/line_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,8}</string>
                <key>spriteSourceSize</key>
                <string>{497,8}</string>
                <key>textureRect</key>
                <string>{{1,13},{497,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LayoutListSicboPlist.png</string>
            <key>size</key>
            <string>{503,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4acc2fdeca01a16acca3bea3b4f89b87:23cc5e6f0becab421aaff46ee1453080:1d5d48326c7cf72a3576dc1cb69ded16$</string>
            <key>textureFileName</key>
            <string>LayoutListSicboPlist.png</string>
        </dict>
    </dict>
</plist>
