<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,106}</string>
                <key>spriteSourceSize</key>
                <string>{113,106}</string>
                <key>textureRect</key>
                <string>{{1877,1},{113,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,216}</string>
                <key>spriteSourceSize</key>
                <string>{231,216}</string>
                <key>textureRect</key>
                <string>{{442,1},{231,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,221}</string>
                <key>spriteSourceSize</key>
                <string>{235,221}</string>
                <key>textureRect</key>
                <string>{{219,1},{235,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,216}</string>
                <key>spriteSourceSize</key>
                <string>{246,216}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,207}</string>
                <key>spriteSourceSize</key>
                <string>{235,207}</string>
                <key>textureRect</key>
                <string>{{660,1},{235,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,202}</string>
                <key>spriteSourceSize</key>
                <string>{230,202}</string>
                <key>textureRect</key>
                <string>{{897,1},{230,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,197}</string>
                <key>spriteSourceSize</key>
                <string>{215,197}</string>
                <key>textureRect</key>
                <string>{{1129,1},{215,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,191}</string>
                <key>spriteSourceSize</key>
                <string>{214,191}</string>
                <key>textureRect</key>
                <string>{{939,205},{214,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,194}</string>
                <key>spriteSourceSize</key>
                <string>{186,194}</string>
                <key>textureRect</key>
                <string>{{1346,1},{186,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,174}</string>
                <key>spriteSourceSize</key>
                <string>{172,174}</string>
                <key>textureRect</key>
                <string>{{1534,1},{172,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,172}</string>
                <key>spriteSourceSize</key>
                <string>{167,172}</string>
                <key>textureRect</key>
                <string>{{1708,1},{167,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,126}</string>
                <key>spriteSourceSize</key>
                <string>{129,126}</string>
                <key>textureRect</key>
                <string>{{487,234},{129,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,150}</string>
                <key>spriteSourceSize</key>
                <string>{144,150}</string>
                <key>textureRect</key>
                <string>{{1,249},{144,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,126}</string>
                <key>spriteSourceSize</key>
                <string>{121,126}</string>
                <key>textureRect</key>
                <string>{{615,234},{121,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,142}</string>
                <key>spriteSourceSize</key>
                <string>{152,142}</string>
                <key>textureRect</key>
                <string>{{153,249},{152,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,151}</string>
                <key>spriteSourceSize</key>
                <string>{178,151}</string>
                <key>textureRect</key>
                <string>{{307,238},{178,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,184}</string>
                <key>spriteSourceSize</key>
                <string>{199,184}</string>
                <key>textureRect</key>
                <string>{{738,210},{199,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,196}</string>
                <key>spriteSourceSize</key>
                <string>{202,196}</string>
                <key>textureRect</key>
                <string>{{1155,200},{202,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,200}</string>
                <key>spriteSourceSize</key>
                <string>{210,200}</string>
                <key>textureRect</key>
                <string>{{1359,197},{210,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,209}</string>
                <key>spriteSourceSize</key>
                <string>{206,209}</string>
                <key>textureRect</key>
                <string>{{1776,175},{206,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_animation/ani_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,203}</string>
                <key>spriteSourceSize</key>
                <string>{214,203}</string>
                <key>textureRect</key>
                <string>{{1571,177},{214,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DiceAnimationPlist.png</string>
            <key>size</key>
            <string>{1984,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5d0a027266ab5cf78da2009091db97c:f795b874cf0125bc2a7c507b2ffb1212:f590f5b03b29653cd0af83962cb89121$</string>
            <key>textureFileName</key>
            <string>DiceAnimationPlist.png</string>
        </dict>
    </dict>
</plist>
