<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/commonv2/frame01/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1086,653}</string>
                <key>spriteSourceSize</key>
                <string>{1086,653}</string>
                <key>textureRect</key>
                <string>{{1,92},{1086,653}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/commonv2/frame01/btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,72}</string>
                <key>spriteSourceSize</key>
                <string>{226,72}</string>
                <key>textureRect</key>
                <string>{{67,1},{226,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/commonv2/frame01/btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/commonv2/frame01/ic_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{90,89}</string>
                <key>textureRect</key>
                <string>{{295,1},{90,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FramePlist.png</string>
            <key>size</key>
            <string>{655,1179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5bf3ff72154490838a7c36d1d3d2430:e74defc88d1a482bc2a698002f491fec:a9213d0a0d97ec1abc5c56a8d3f4f6c5$</string>
            <key>textureFileName</key>
            <string>FramePlist.png</string>
        </dict>
    </dict>
</plist>
