<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/lobbyv2/createnn/btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,72}</string>
                <key>spriteSourceSize</key>
                <string>{226,72}</string>
                <key>textureRect</key>
                <string>{{61,568},{226,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/lobbyv2/createnn/girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,565}</string>
                <key>spriteSourceSize</key>
                <string>{219,565}</string>
                <key>textureRect</key>
                <string>{{1,1},{219,565}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/createnn/ic_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{135,568},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/createnn/ic_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{167,568},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/createnn/txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,58}</string>
                <key>spriteSourceSize</key>
                <string>{358,58}</string>
                <key>textureRect</key>
                <string>{{1,568},{358,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CreateNNPlist.png</string>
            <key>size</key>
            <string>{221,927}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db852baeca1a3896bb7d8a93b17d01f7:ef832abf4ff808a77e01f1eab313b789:8335fdedbea4929fce93a7045d4a9fb4$</string>
            <key>textureFileName</key>
            <string>CreateNNPlist.png</string>
        </dict>
    </dict>
</plist>
