<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/lobbyv2/createnn/btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,72}</string>
                <key>spriteSourceSize</key>
                <string>{226,72}</string>
                <key>textureRect</key>
                <string>{{60,0},{226,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/createnn/girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,658}</string>
                <key>spriteSourceSize</key>
                <string>{255,658}</string>
                <key>textureRect</key>
                <string>{{0,72},{255,658}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/createnn/ic_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/createnn/ic_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{30,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/createnn/txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,58}</string>
                <key>spriteSourceSize</key>
                <string>{358,58}</string>
                <key>textureRect</key>
                <string>{{0,730},{358,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CreateNNPlist.png</string>
            <key>size</key>
            <string>{358,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61849e7af89fc754a5bfe515f2292627:0b34cc382c03fe6d805b5eb6a80caef0:8335fdedbea4929fce93a7045d4a9fb4$</string>
            <key>textureFileName</key>
            <string>CreateNNPlist.png</string>
        </dict>
    </dict>
</plist>
