<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/resourcemenutabv2/event/girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,676}</string>
                <key>spriteSourceSize</key>
                <string>{269,676}</string>
                <key>textureRect</key>
                <string>{{1,211},{269,676}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/event/ic_bank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/event/ic_ewallet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{49,1},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/event/ic_giftcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{97,1},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/event/ic_mobilecard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{145,1},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/event/ic_newbie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{193,1},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/event/ic_refs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{241,1},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/event/normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,79}</string>
                <key>spriteSourceSize</key>
                <string>{263,79}</string>
                <key>textureRect</key>
                <string>{{1,49},{263,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/event/selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,79}</string>
                <key>spriteSourceSize</key>
                <string>{263,79}</string>
                <key>textureRect</key>
                <string>{{1,130},{263,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EventPlist.png</string>
            <key>size</key>
            <string>{288,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11ba3612a8a10085864f26f9b1921b13:2fa1fd58b0fd614c694584fbb99e603b:f8854b689b73ef580da5d483e1e05e53$</string>
            <key>textureFileName</key>
            <string>EventPlist.png</string>
        </dict>
    </dict>
</plist>
