<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/resourcemenutabv2/event/girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,676}</string>
                <key>spriteSourceSize</key>
                <string>{269,676}</string>
                <key>textureRect</key>
                <string>{{1,1},{269,676}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EventPlist.png</string>
            <key>size</key>
            <string>{271,678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f934f8a1a46dc5fc0b52f192be714d8:60ac6f4f86afc6499c5fadf0d04c1acf:f8854b689b73ef580da5d483e1e05e53$</string>
            <key>textureFileName</key>
            <string>EventPlist.png</string>
        </dict>
    </dict>
</plist>
