<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/ResourceMenuTab/BaoMat/bt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,1},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/bt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,1},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/bt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,4},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_3_hang.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,4},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_3_hang_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,7},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_3_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,7},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_3_mid_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,10},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_get_gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,10},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_get_gift_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,13},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_gift_dis.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,13},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_gift_xu.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,16},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/btn_gift_xu_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,16},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/checkbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,28},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/Chk_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,19},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/click.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,51},{16,11}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/click2.png</key>
			<dict>
				<key>frame</key>
				<string>{{14,51},{16,11}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/closetf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/link.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,19},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/link_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,22},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/txt_ma_gioi_thieu.png</key>
			<dict>
				<key>frame</key>
				<string>{{31,22},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>res/ResourceMenuTab/BaoMat/txt_nhap_gift.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,25},{1,1}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistBaoMat.png</string>
			<key>realTextureFileName</key>
			<string>PlistBaoMat.png</string>
			<key>size</key>
			<string>{33,68}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>33</integer>
			<key>height</key>
			<integer>68</integer>
		</dict>
	</dict>
</plist>