<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/lobbyv2/login/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1912,210}</string>
                <key>spriteSourceSize</key>
                <string>{1912,210}</string>
                <key>textureRect</key>
                <string>{{1,237},{1912,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/login/bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1912,160}</string>
                <key>spriteSourceSize</key>
                <string>{1912,160}</string>
                <key>textureRect</key>
                <string>{{1,75},{1912,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/login/bg_deposit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-140.5,68}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{284,139}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/login/btn_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,65}</string>
                <key>spriteSourceSize</key>
                <string>{206,65}</string>
                <key>textureRect</key>
                <string>{{359,1},{206,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/login/btn_register.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,72}</string>
                <key>spriteSourceSize</key>
                <string>{226,72}</string>
                <key>textureRect</key>
                <string>{{567,1},{226,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/login/ic_block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{6,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/login/ic_forgotpass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{70,1},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/login/ic_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{38,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/login/txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,61}</string>
                <key>spriteSourceSize</key>
                <string>{224,61}</string>
                <key>textureRect</key>
                <string>{{133,1},{224,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LoginPlist.png</string>
            <key>size</key>
            <string>{1914,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2adfc869b1339261e600cb4ce673f421:3eed5d85c9107668a4e7aa6f14d5d118:f1a58a8b4872b92a91cb7ca19770aa2c$</string>
            <key>textureFileName</key>
            <string>LoginPlist.png</string>
        </dict>
    </dict>
</plist>
