<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/menuv2/changepassword/ic_block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{361,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/changepassword/ic_visi_false.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{361,33},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/changepassword/ic_visi_true.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{393,1},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/changepassword/ic_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{393,33},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/changepassword/txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,58}</string>
                <key>spriteSourceSize</key>
                <string>{358,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{358,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ChangePasswordPlist.png</string>
            <key>size</key>
            <string>{424,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46ff2e1fdc206d1d57d95980b8cbefed:0d628b87800a3bdfc056c4b57196a5fd:ec2def55f913d66d7220798d70d2bcbc$</string>
            <key>textureFileName</key>
            <string>ChangePasswordPlist.png</string>
        </dict>
    </dict>
</plist>
