<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/CardGame/ResXocDia/bg_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,1},{163,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,443}</string>
			</dict>
			<key>res/CardGame/ResXocDia/bt-03.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,818},{170,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,70}</string>
			</dict>
			<key>res/CardGame/ResXocDia/bt-03_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,953},{170,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,70}</string>
			</dict>
			<key>res/CardGame/ResXocDia/bt-04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,721},{170,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,70}</string>
			</dict>
			<key>res/CardGame/ResXocDia/bt-04_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,721},{170,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,70}</string>
			</dict>
			<key>res/CardGame/ResXocDia/chotlai.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,721},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>res/CardGame/ResXocDia/close_scroll.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,517},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>res/CardGame/ResXocDia/lockgate.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,595},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>res/CardGame/ResXocDia/pn_tool.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,648},{167,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,94}</string>
			</dict>
			<key>res/CardGame/ResXocDia/pxeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,519},{30,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,29}</string>
			</dict>
			<key>res/CardGame/ResXocDia/pxu.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,550},{30,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,29}</string>
			</dict>
			<key>res/CardGame/ResXocDia/sang-28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,136},{253,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,253}</string>
			</dict>
			<key>res/CardGame/ResXocDia/soicau_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{717,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{717,133}</string>
			</dict>
			<key>res/CardGame/ResXocDia/tamgiac.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,990},{32,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,65}</string>
			</dict>
			<key>res/CardGame/ResXocDia/TNT.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,721},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>res/CardGame/ResXocDia/user.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,595},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/CardGame/ResXocDia/vi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/CardGame/ResXocDia/vi1_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,23},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/CardGame/ResXocDia/vi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,45},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/CardGame/ResXocDia/vi2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,67},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia03.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,721},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia03_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,446},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia08.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,136},{230,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,221}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-08.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,1},{399,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{399,36}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia09.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,136},{230,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,221}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-09.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1},{645,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{645,71}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-10.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,953},{145,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,37}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-10_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,648},{145,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,37}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia13.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,580},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia14.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,446},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,648},{606,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{606,71}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia14_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,648},{207,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,147}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-15.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,446},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-15s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,446},{207,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,147}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,818},{309,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,180}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia17.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,818},{309,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,180}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,1},{8,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,2}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia19.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,818},{327,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,133}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-20.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,402},{115,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,31}</string>
			</dict>
			<key>res/CardGame/ResXocDia/xocdia-26.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,402},{414,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{414,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>