<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/menuv2/profile/Avatar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{1,187},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{1,337},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{151,187},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{151,337},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{187,1},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{301,151},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{337,1},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{301,301},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{451,151},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{487,1},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{451,301},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{601,151},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{637,1},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{601,301},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{751,151},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{787,1},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{751,301},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{901,151},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{937,1},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{901,301},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{1051,151},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/Avatar_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{1,187},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/btn_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,52}</string>
                <key>spriteSourceSize</key>
                <string>{110,52}</string>
                <key>textureRect</key>
                <string>{{954,451},{110,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/frame_ava.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,184}</string>
                <key>spriteSourceSize</key>
                <string>{184,184}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/ic_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{1087,64},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/ic_camera.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,39}</string>
                <key>spriteSourceSize</key>
                <string>{47,39}</string>
                <key>textureRect</key>
                <string>{{1149,1},{47,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/menuv2/profile/ic_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{1141,64},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/menuv2/profile/ic_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{1087,1},{61,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/menuv2/profile/txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,57}</string>
                <key>spriteSourceSize</key>
                <string>{359,57}</string>
                <key>textureRect</key>
                <string>{{301,451},{359,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/profile/txt_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,55}</string>
                <key>spriteSourceSize</key>
                <string>{290,55}</string>
                <key>textureRect</key>
                <string>{{662,451},{290,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ProfilePlist.png</string>
            <key>size</key>
            <string>{1200,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fb92c5c1281e18a49f1015a12833dc6:8e4c3314d18516a1134864c1cf275cf0:2fa9d82939608cde720fe27c8f270ad1$</string>
            <key>textureFileName</key>
            <string>ProfilePlist.png</string>
        </dict>
    </dict>
</plist>
