<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/lobbyv2/icongame/ic_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,90}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{197,183}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/icongame/ic_fish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-108,190.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{219,384}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/icongame/ic_minigame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,90}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{197,183}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/icongame/ic_slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-108,190.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{219,384}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>IconGamePlist.png</string>
            <key>size</key>
            <string>{5,5}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ee77484260af0ce1a541ce8b78342b4:b6ab8d6c1bd37a473a6a03497785728f:49e4a0414d8d93de3247cef29a9a3321$</string>
            <key>textureFileName</key>
            <string>IconGamePlist.png</string>
        </dict>
    </dict>
</plist>
