<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Minigamev2/giftcode/bg_notify.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{930,153}</string>
                <key>spriteSourceSize</key>
                <string>{930,153}</string>
                <key>textureRect</key>
                <string>{{389,1},{930,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/giftcode/girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,386}</string>
                <key>spriteSourceSize</key>
                <string>{361,386}</string>
                <key>textureRect</key>
                <string>{{1,1},{361,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/giftcode/ic_giftcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{389,216},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/giftcode/ic_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{389,248},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/giftcode/txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,58}</string>
                <key>spriteSourceSize</key>
                <string>{358,58}</string>
                <key>textureRect</key>
                <string>{{389,156},{358,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GiftcodePlist.png</string>
            <key>size</key>
            <string>{1320,363}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2666a55cd845186400b9f4ffd83bde12:9e211b0719d42af5b7db066437193764:4bf5c8d4e747fb811e56549aad25a1b1$</string>
            <key>textureFileName</key>
            <string>GiftcodePlist.png</string>
        </dict>
    </dict>
</plist>
