<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/cardgamev2/commonresource/selectroom/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1465,614}</string>
                <key>spriteSourceSize</key>
                <string>{1465,614}</string>
                <key>textureRect</key>
                <string>{{1,1},{1465,614}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/bg_blank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-638.5,358.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1468,494},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/bg_quyban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,73}</string>
                <key>spriteSourceSize</key>
                <string>{448,73}</string>
                <key>textureRect</key>
                <string>{{963,617},{448,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/bg_table_room_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-392,230.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{787,464}</string>
                <key>textureRect</key>
                <string>{{1468,494},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/bt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,18}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{207,39}</string>
                <key>textureRect</key>
                <string>{{1468,494},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,92}</string>
                <key>spriteSourceSize</key>
                <string>{230,92}</string>
                <key>textureRect</key>
                <string>{{1373,692},{230,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1413,617},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn_betlimit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64.5,14.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{132,32}</string>
                <key>textureRect</key>
                <string>{{1468,494},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn_blank_input.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-166,27.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{335,58}</string>
                <key>textureRect</key>
                <string>{{1468,494},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn_chonmuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,15}</string>
                <key>spriteSourceSize</key>
                <string>{30,15}</string>
                <key>textureRect</key>
                <string>{{1121,695},{30,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,63}</string>
                <key>spriteSourceSize</key>
                <string>{60,63}</string>
                <key>textureRect</key>
                <string>{{1467,685},{60,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn_close1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1373,1217},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1459,1217},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn_join.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,50}</string>
                <key>spriteSourceSize</key>
                <string>{960,50}</string>
                <key>textureRect</key>
                <string>{{1,617},{960,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn_join_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,50}</string>
                <key>spriteSourceSize</key>
                <string>{960,50}</string>
                <key>textureRect</key>
                <string>{{1,669},{960,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn_player_nor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{1373,1104},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn_player_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,63}</string>
                <key>spriteSourceSize</key>
                <string>{60,63}</string>
                <key>textureRect</key>
                <string>{{1467,685},{60,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn_refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1446,924},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,71}</string>
                <key>spriteSourceSize</key>
                <string>{178,71}</string>
                <key>textureRect</key>
                <string>{{1373,924},{178,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/btn_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1446,992},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/ic_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,12}</string>
                <key>spriteSourceSize</key>
                <string>{23,12}</string>
                <key>textureRect</key>
                <string>{{1373,1303},{23,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/ic_block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1484,338},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/ic_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1467,816},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/ic_password.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,64}</string>
                <key>textureRect</key>
                <string>{{1467,750},{54,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/ic_sort.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{1478,1060},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/ic_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1446,1060},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/ic_visi_false.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1484,370},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/ic_visi_true.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1467,848},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,1}</string>
                <key>spriteSourceSize</key>
                <string>{240,1}</string>
                <key>textureRect</key>
                <string>{{963,692},{240,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/line_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-480.5,23.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{964,50}</string>
                <key>textureRect</key>
                <string>{{1468,494},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/line_v.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,50}</string>
                <key>spriteSourceSize</key>
                <string>{2,50}</string>
                <key>textureRect</key>
                <string>{{963,713},{2,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/sliderbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,14}</string>
                <key>spriteSourceSize</key>
                <string>{154,14}</string>
                <key>textureRect</key>
                <string>{{1468,338},{154,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/sliderbar_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,16}</string>
                <key>spriteSourceSize</key>
                <string>{156,16}</string>
                <key>textureRect</key>
                <string>{{963,695},{156,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{684,299}</string>
                <key>spriteSourceSize</key>
                <string>{684,299}</string>
                <key>textureRect</key>
                <string>{{1,721},{684,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/title_binh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{684,299}</string>
                <key>spriteSourceSize</key>
                <string>{684,299}</string>
                <key>textureRect</key>
                <string>{{1,1022},{684,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/title_tlmn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{684,299}</string>
                <key>spriteSourceSize</key>
                <string>{684,299}</string>
                <key>textureRect</key>
                <string>{{687,721},{684,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/title_xocxoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{684,299}</string>
                <key>spriteSourceSize</key>
                <string>{684,299}</string>
                <key>textureRect</key>
                <string>{{687,1022},{684,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/cardgamev2/commonresource/selectroom/txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,58}</string>
                <key>spriteSourceSize</key>
                <string>{335,58}</string>
                <key>textureRect</key>
                <string>{{1468,1},{335,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SelectRoomPlist.png</string>
            <key>size</key>
            <string>{1528,1322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bb154e20634cc50e03351a0a160a3c1:2e208a60976c6476b023f783e656a090:dd6b108a76329e5cbe9ccc746b47c580$</string>
            <key>textureFileName</key>
            <string>SelectRoomPlist.png</string>
        </dict>
    </dict>
</plist>
