<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/lobbyv2/forgotpassword/btn_refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{58,60}</string>
                <key>textureRect</key>
                <string>{{292,667},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/forgotpassword/captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,34}</string>
                <key>spriteSourceSize</key>
                <string>{110,34}</string>
                <key>textureRect</key>
                <string>{{180,667},{110,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/forgotpassword/girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,604}</string>
                <key>spriteSourceSize</key>
                <string>{389,604}</string>
                <key>textureRect</key>
                <string>{{1,1},{389,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/forgotpassword/ic_block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{361,607},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/forgotpassword/ic_captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{361,637},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/forgotpassword/ic_persion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{361,666},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/forgotpassword/ic_telegram.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{180,703},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/forgotpassword/ic_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{352,689},{36,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/forgotpassword/txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,58}</string>
                <key>spriteSourceSize</key>
                <string>{358,58}</string>
                <key>textureRect</key>
                <string>{{1,607},{358,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/lobbyv2/forgotpassword/txt_captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,60}</string>
                <key>spriteSourceSize</key>
                <string>{177,60}</string>
                <key>textureRect</key>
                <string>{{1,667},{177,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ForgotPasswordPlist.png</string>
            <key>size</key>
            <string>{391,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a087f2ea9d056bbeafbb90736789097:d54a735d5aea92ce4f45dec625ae5f74:690effeaece0bd0b90f803fbc707703a$</string>
            <key>textureFileName</key>
            <string>ForgotPasswordPlist.png</string>
        </dict>
    </dict>
</plist>
