<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/commonv2/layoutlist/grid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{989,347}</string>
                <key>spriteSourceSize</key>
                <string>{989,347}</string>
                <key>textureRect</key>
                <string>{{1,1},{989,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/commonv2/layoutlist/line_height.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,172}</string>
                <key>spriteSourceSize</key>
                <string>{1,172}</string>
                <key>textureRect</key>
                <string>{{992,1},{1,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LayoutListPlist.png</string>
            <key>size</key>
            <string>{994,349}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d96c4321d0d3459b70cb1fa598375601:2c519315178074601ead489def555f1f:6eb660089ef9f5898dfb30765c69f310$</string>
            <key>textureFileName</key>
            <string>LayoutListPlist.png</string>
        </dict>
    </dict>
</plist>
