<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/GameCo/CoTuong/chieutuong/chieu_tuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,2},{334,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{334,156}</string>
			</dict>
			<key>res/GameCo/CoTuong/chieutuong/glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,274},{400,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,101}</string>
			</dict>
			<key>res/GameCo/CoTuong/chieutuong/kiem.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,843},{97,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,213}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,690},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/bm.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,760},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/bp.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,872},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/bs.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,752},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/bt.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,821},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/bx.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,822},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/bz.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,890},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/rg.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,765},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/rm.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,802},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/rp.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,752},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/rs.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,797},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/rt.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,830},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/rx.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,835},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/piece/rz.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,867},{65,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,66}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/khieuchien/bg_vin.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,595},{331,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,244}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/khieuchien/bg_xu.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,678},{331,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{331,244}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/khieuchien/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,384},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/khieuchien/vin_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,690},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/khieuchien/vin_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,727},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/khieuchien/xu_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,677},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/khieuchien/xu_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,722},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/bt_dong_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,327},{149,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,51}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/bt_khong.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,340},{149,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,51}</string>
			</dict>
			<key>res/GameCo/CoTuong/popup/cuon_thu_do.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{479,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{479,268}</string>
			</dict>
			<key>res/GameCo/CoTuong/add_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,843},{89,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,88}</string>
			</dict>
			<key>res/GameCo/CoTuong/avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,570},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>res/GameCo/CoTuong/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,645},{74,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,73}</string>
			</dict>
			<key>res/GameCo/CoTuong/bg_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,570},{139,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,74}</string>
			</dict>
			<key>res/GameCo/CoTuong/bgChat.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,274},{341,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{341,317}</string>
			</dict>
			<key>res/GameCo/CoTuong/bgViewer.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,2},{343,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,321}</string>
			</dict>
			<key>res/GameCo/CoTuong/chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,531},{50,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,45}</string>
			</dict>
			<key>res/GameCo/CoTuong/chatBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,2},{206,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,29}</string>
			</dict>
			<key>res/GameCo/CoTuong/clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,274},{28,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,34}</string>
			</dict>
			<key>res/GameCo/CoTuong/coin_be.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,312},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,29}</string>
			</dict>
			<key>res/GameCo/CoTuong/coin_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,378},{160,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,38}</string>
			</dict>
			<key>res/GameCo/CoTuong/cuon_giay.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,327},{239,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,282}</string>
			</dict>
			<key>res/GameCo/CoTuong/dau_quan_den.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,483},{84,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,81}</string>
			</dict>
			<key>res/GameCo/CoTuong/dau_quan_do.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,395},{87,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,84}</string>
			</dict>
			<key>res/GameCo/CoTuong/Help.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,525},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/GameCo/CoTuong/justMove.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,570},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,61}</string>
			</dict>
			<key>res/GameCo/CoTuong/kiem.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,347},{33,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,26}</string>
			</dict>
			<key>res/GameCo/CoTuong/lastPos.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,635},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>res/GameCo/CoTuong/lua.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,212},{19,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,109}</string>
			</dict>
			<key>res/GameCo/CoTuong/music_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,480},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>res/GameCo/CoTuong/music_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,542},{44,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,49}</string>
			</dict>
			<key>res/GameCo/CoTuong/reqDraw.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,568},{84,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,73}</string>
			</dict>
			<key>res/GameCo/CoTuong/reqLose.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,590},{83,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,70}</string>
			</dict>
			<key>res/GameCo/CoTuong/selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,648},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>res/GameCo/CoTuong/send.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,325},{49,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,29}</string>
			</dict>
			<key>res/GameCo/CoTuong/sound_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,395},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,54}</string>
			</dict>
			<key>res/GameCo/CoTuong/sound_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,460},{61,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,54}</string>
			</dict>
			<key>res/GameCo/CoTuong/standup.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,634},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>res/GameCo/CoTuong/suggest.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,585},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/GameCo/CoTuong/viewerCell.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,944},{330,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,50}</string>
			</dict>
			<key>res/GameCo/CoTuong/x.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,586},{34,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,31}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CoTuongPlist.png</string>
			<key>realTextureFileName</key>
			<string>CoTuongPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>