<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Minigamev2/sicbo/detail/bg_control.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{661,60}</string>
                <key>spriteSourceSize</key>
                <string>{661,60}</string>
                <key>textureRect</key>
                <string>{{395,1},{661,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/detail/bg_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,392}</string>
                <key>spriteSourceSize</key>
                <string>{501,392}</string>
                <key>textureRect</key>
                <string>{{1,1},{501,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/detail/d1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{457,500},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/detail/d2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{457,541},{39,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/detail/d3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{457,582},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/detail/d4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{325,553},{38,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/detail/d5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{457,623},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/detail/d6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,40}</string>
                <key>textureRect</key>
                <string>{{163,588},{38,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/detail/line_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,7}</string>
                <key>spriteSourceSize</key>
                <string>{497,7}</string>
                <key>textureRect</key>
                <string>{{457,1},{497,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/detail/line_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,241}</string>
                <key>spriteSourceSize</key>
                <string>{497,241}</string>
                <key>textureRect</key>
                <string>{{1,664},{497,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/detail/next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,48}</string>
                <key>spriteSourceSize</key>
                <string>{47,48}</string>
                <key>textureRect</key>
                <string>{{325,504},{47,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/detail/over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,82}</string>
                <key>spriteSourceSize</key>
                <string>{160,82}</string>
                <key>textureRect</key>
                <string>{{163,504},{160,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/detail/under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,85}</string>
                <key>spriteSourceSize</key>
                <string>{160,85}</string>
                <key>textureRect</key>
                <string>{{1,504},{160,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HistoryPreferralPlist.png</string>
            <key>size</key>
            <string>{499,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ff34077e0150097163ad4fa117a1fed:94312bfdc23874ddafd846c50ba3030b:460235f130b3e8e9a41bd4df0efb2964$</string>
            <key>textureFileName</key>
            <string>HistoryPreferralPlist.png</string>
        </dict>
    </dict>
</plist>
