<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/commonv2/layoutlisttop/line_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{977,8}</string>
                <key>spriteSourceSize</key>
                <string>{977,8}</string>
                <key>textureRect</key>
                <string>{{1,1},{977,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/commonv2/layoutlisttop/line_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{967,11}</string>
                <key>spriteSourceSize</key>
                <string>{967,11}</string>
                <key>textureRect</key>
                <string>{{11,1},{967,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/commonv2/layoutlisttop/top1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,51}</string>
                <key>spriteSourceSize</key>
                <string>{48,51}</string>
                <key>textureRect</key>
                <string>{{1,980},{48,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/commonv2/layoutlisttop/top2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{1,1033},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/commonv2/layoutlisttop/top3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{1,1082},{44,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/commonv2/layoutlisttop/top4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,38}</string>
                <key>spriteSourceSize</key>
                <string>{28,38}</string>
                <key>textureRect</key>
                <string>{{24,1},{28,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/commonv2/layoutlisttop/top5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,37}</string>
                <key>spriteSourceSize</key>
                <string>{32,37}</string>
                <key>textureRect</key>
                <string>{{24,41},{32,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LayoutListTopPlist.png</string>
            <key>size</key>
            <string>{57,1127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e74103549b5087ca5633eac5ec798212:b43c7ddfa8190821f611ba676fb3f000:f452fed421dcad49fa755fbd96a37a1b$</string>
            <key>textureFileName</key>
            <string>LayoutListTopPlist.png</string>
        </dict>
    </dict>
</plist>
