<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ImgBtnGunMius.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,170},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>ImgBtnGunPlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,170},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>ImgGunAimBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,284},{72,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,59}}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>ImgGunBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{213,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,93}}</string>
                <key>sourceSize</key>
                <string>{213,93}</string>
            </dict>
            <key>ImgGunBgPlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1},{167,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,84}}</string>
                <key>sourceSize</key>
                <string>{167,84}</string>
            </dict>
            <key>ImgGunBorder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,216},{204,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,103}}</string>
                <key>sourceSize</key>
                <string>{204,103}</string>
            </dict>
            <key>ImgGunFlash_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,128},{98,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{98,93}}</string>
                <key>sourceSize</key>
                <string>{148,95}</string>
            </dict>
            <key>ImgGunMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,134},{91,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,23}}</string>
                <key>sourceSize</key>
                <string>{91,23}</string>
            </dict>
            <key>ImgGun_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,159},{84,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{84,123}}</string>
                <key>sourceSize</key>
                <string>{152,131}</string>
            </dict>
            <key>ImgGun_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1},{100,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{100,131}}</string>
                <key>sourceSize</key>
                <string>{152,131}</string>
            </dict>
            <key>ImgGun_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,370},{114,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{114,127}}</string>
                <key>sourceSize</key>
                <string>{152,131}</string>
            </dict>
            <key>ImgGun_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1},{104,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{104,125}}</string>
                <key>sourceSize</key>
                <string>{152,131}</string>
            </dict>
            <key>ImgGun_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,216},{152,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{152,123}}</string>
                <key>sourceSize</key>
                <string>{152,131}</string>
            </dict>
            <key>ImgGun_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1},{106,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{106,127}}</string>
                <key>sourceSize</key>
                <string>{152,131}</string>
            </dict>
            <key>ImgGun_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,360},{94,121}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{94,121}}</string>
                <key>sourceSize</key>
                <string>{152,131}</string>
            </dict>
            <key>ImgIconBome.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,422},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ImgIconElec.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,422},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ImgIconLazer.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,130},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ImgSkillBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,194},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>ImgSkillBarBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,284},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>ImgTargetAim.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,257},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,379},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,379},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,370},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,134},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,422},{9,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,52}}</string>
                <key>sourceSize</key>
                <string>{9,52}</string>
            </dict>
            <key>coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,170},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,432},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,433},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RES3DGun.png</string>
            <key>size</key>
            <string>{506,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e683b589564e976c4d0347ddd0259426:3cc2753ecc5da03140319a0160f6e434:57d68f25735706d2b96e3050c22c0cf5$</string>
            <key>textureFileName</key>
            <string>RES3DGun.png</string>
        </dict>
    </dict>
</plist>
