<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BulletHit_FX-animation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,351},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>BulletHit_FX-animation_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,341},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,112}}</string>
                <key>sourceSize</key>
                <string>{114,112}</string>
            </dict>
            <key>BulletHit_FX-animation_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{186,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,182}}</string>
                <key>sourceSize</key>
                <string>{188,182}</string>
            </dict>
            <key>BulletHit_FX-animation_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{188,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,182}}</string>
                <key>sourceSize</key>
                <string>{188,182}</string>
            </dict>
            <key>BulletHit_FX-animation_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1},{186,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,182}}</string>
                <key>sourceSize</key>
                <string>{188,182}</string>
            </dict>
            <key>BulletHit_FX-animation_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,235},{114,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,115}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>BulletHit_FX-animation_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1},{131,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,135}}</string>
                <key>sourceSize</key>
                <string>{131,135}</string>
            </dict>
            <key>BulletHit_FX-animation_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,185},{148,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,154}}</string>
                <key>sourceSize</key>
                <string>{148,154}</string>
            </dict>
            <key>ImgBullet_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,138},{95,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,126}}</string>
                <key>sourceSize</key>
                <string>{95,126}</string>
            </dict>
            <key>ImgBullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,351},{89,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,101}}</string>
                <key>sourceSize</key>
                <string>{89,101}</string>
            </dict>
            <key>ImgBullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,332},{25,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,95}}</string>
                <key>sourceSize</key>
                <string>{25,95}</string>
            </dict>
            <key>ImgBullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,369},{83,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,113}}</string>
                <key>sourceSize</key>
                <string>{83,113}</string>
            </dict>
            <key>ImgBullet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,369},{74,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,71}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>ImgBullet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,235},{44,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,95}}</string>
                <key>sourceSize</key>
                <string>{44,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RES3DBullet.png</string>
            <key>size</key>
            <string>{511,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c03e50e4e1bd98b53e3072eaf0e1a838:9fc6ce5828dd8083432c085ebf4f7626:1a1ac627eaca634148e9989f5a4afbb4$</string>
            <key>textureFileName</key>
            <string>RES3DBullet.png</string>
        </dict>
    </dict>
</plist>
