<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SuperNovaCore_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1},{196,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,200}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>SuperNovaRing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>SuperNovaRing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1},{175,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,110}}</string>
                <key>sourceSize</key>
                <string>{175,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RESBC3DSuperNova.png</string>
            <key>size</key>
            <string>{534,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe63b141d1d5ff5e1c1043355fc65caa:9e4849a675705b5f4f2e780c128893fd:cb67cc9bf34ebec03f1e58492a88d243$</string>
            <key>textureFileName</key>
            <string>RESBC3DSuperNova.png</string>
        </dict>
    </dict>
</plist>
