<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ImgElec_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,664},{161,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,79}}</string>
                <key>sourceSize</key>
                <string>{161,79}</string>
            </dict>
            <key>ImgElec_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,119},{530,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,120}}</string>
                <key>sourceSize</key>
                <string>{530,120}</string>
            </dict>
            <key>ImgElec_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,119},{528,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,128}}</string>
                <key>sourceSize</key>
                <string>{528,128}</string>
            </dict>
            <key>ImgElec_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1},{533,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,96}}</string>
                <key>sourceSize</key>
                <string>{533,96}</string>
            </dict>
            <key>ImgElec_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1},{433,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,99}}</string>
                <key>sourceSize</key>
                <string>{433,99}</string>
            </dict>
            <key>ImgElec_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,439},{306,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,98}}</string>
                <key>sourceSize</key>
                <string>{306,98}</string>
            </dict>
            <key>ImgElec_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,536},{230,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,78}}</string>
                <key>sourceSize</key>
                <string>{230,78}</string>
            </dict>
            <key>ImgElec_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,248},{189,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,83}}</string>
                <key>sourceSize</key>
                <string>{189,83}</string>
            </dict>
            <key>ImgElec_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,537},{168,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,108}}</string>
                <key>sourceSize</key>
                <string>{168,108}</string>
            </dict>
            <key>ImgElec_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,536},{213,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,106}}</string>
                <key>sourceSize</key>
                <string>{213,106}</string>
            </dict>
            <key>ImgElec_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1},{245,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,95}}</string>
                <key>sourceSize</key>
                <string>{245,95}</string>
            </dict>
            <key>ImgElec_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,678},{386,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,88}}</string>
                <key>sourceSize</key>
                <string>{386,88}</string>
            </dict>
            <key>ImgElec_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1},{534,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,104}}</string>
                <key>sourceSize</key>
                <string>{534,104}</string>
            </dict>
            <key>ImgElec_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{548,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,116}}</string>
                <key>sourceSize</key>
                <string>{548,116}</string>
            </dict>
            <key>ImgElec_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,119},{543,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,97}}</string>
                <key>sourceSize</key>
                <string>{543,97}</string>
            </dict>
            <key>ImgElec_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,119},{557,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,106}}</string>
                <key>sourceSize</key>
                <string>{557,106}</string>
            </dict>
            <key>ImgElec_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,119},{542,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,106}}</string>
                <key>sourceSize</key>
                <string>{542,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RESBC3DElectric.png</string>
            <key>size</key>
            <string>{969,767}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2dbb86017d39ea0c05c5924654ce45e:0f838210a6a1c3562583fb7ab2a48682:8f0fcd63993ab83db23df8e4afb6ae04$</string>
            <key>textureFileName</key>
            <string>RESBC3DElectric.png</string>
        </dict>
    </dict>
</plist>
