<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ImgLazerEx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,373},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>ImgLazerEx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{261,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,105}}</string>
                <key>sourceSize</key>
                <string>{261,105}</string>
            </dict>
            <key>ImgLazerEx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1},{261,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,105}}</string>
                <key>sourceSize</key>
                <string>{261,105}</string>
            </dict>
            <key>ImgLazerEx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1},{261,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,105}}</string>
                <key>sourceSize</key>
                <string>{261,105}</string>
            </dict>
            <key>ImgLazerEx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1},{261,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,105}}</string>
                <key>sourceSize</key>
                <string>{261,105}</string>
            </dict>
            <key>ImgLazerEx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,264},{261,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,105}}</string>
                <key>sourceSize</key>
                <string>{261,105}</string>
            </dict>
            <key>ImgLazerEx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1},{261,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,105}}</string>
                <key>sourceSize</key>
                <string>{261,105}</string>
            </dict>
            <key>ImgLazerEx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,373},{77,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,81}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>ImgLazerEx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,264},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>ImgLazerEx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,264},{139,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,143}}</string>
                <key>sourceSize</key>
                <string>{139,143}</string>
            </dict>
            <key>ImgLazerEx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,264},{174,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,178}}</string>
                <key>sourceSize</key>
                <string>{174,178}</string>
            </dict>
            <key>ImgLazerEx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,371},{243,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{243,79}}</string>
                <key>sourceSize</key>
                <string>{261,105}</string>
            </dict>
            <key>ImgLazerEx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1},{253,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{253,85}}</string>
                <key>sourceSize</key>
                <string>{261,105}</string>
            </dict>
            <key>ImgLazerEx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1},{259,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{259,99}}</string>
                <key>sourceSize</key>
                <string>{261,105}</string>
            </dict>
            <key>ImgLazerEx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1},{261,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,105}}</string>
                <key>sourceSize</key>
                <string>{261,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RESBC3DLazer.png</string>
            <key>size</key>
            <string>{830,451}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4c5f59cd5ed314151fc4adff62f2fde:ceb9615e1008e3dfa5ed3f1818fd79e5:a45c1e1ad5379a20bbb0f4e4b0a73705$</string>
            <key>textureFileName</key>
            <string>RESBC3DLazer.png</string>
        </dict>
    </dict>
</plist>
