<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/resourcemenutabv2/profile/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,110}</string>
                <key>spriteSourceSize</key>
                <string>{1920,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/profile/ic_flag_vn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,41}</string>
                <key>spriteSourceSize</key>
                <string>{72,41}</string>
                <key>textureRect</key>
                <string>{{270,113},{72,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/profile/ic_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{147,113},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/profile/ic_logout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{216,113},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/profile/ic_ser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,65}</string>
                <key>spriteSourceSize</key>
                <string>{75,65}</string>
                <key>textureRect</key>
                <string>{{1,113},{75,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/profile/ic_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{78,113},{63,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ProfilePlist.png</string>
            <key>size</key>
            <string>{1922,179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78150c0bd099527e6721732e59d793b4:4472534896da2329037a2353a952ea66:2fa9d82939608cde720fe27c8f270ad1$</string>
            <key>textureFileName</key>
            <string>ProfilePlist.png</string>
        </dict>
    </dict>
</plist>
