<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/resourcemenutabv2/profile/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,110}</string>
                <key>spriteSourceSize</key>
                <string>{1920,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/profile/ic_flag_vn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,41}</string>
                <key>spriteSourceSize</key>
                <string>{72,41}</string>
                <key>textureRect</key>
                <string>{{281,113},{72,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/profile/ic_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,60}</string>
                <key>spriteSourceSize</key>
                <string>{72,60}</string>
                <key>textureRect</key>
                <string>{{153,113},{72,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/profile/ic_logout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{227,113},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/profile/ic_ser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,63}</string>
                <key>spriteSourceSize</key>
                <string>{81,63}</string>
                <key>textureRect</key>
                <string>{{1,113},{81,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/profile/ic_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,67}</string>
                <key>spriteSourceSize</key>
                <string>{63,67}</string>
                <key>textureRect</key>
                <string>{{84,113},{63,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ProfilePlist.png</string>
            <key>size</key>
            <string>{1922,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e6528f0aaf31ce4983e6e8525dd307d:bc9d39c467dd8514a0df896a277be6ef:2fa9d82939608cde720fe27c8f270ad1$</string>
            <key>textureFileName</key>
            <string>ProfilePlist.png</string>
        </dict>
    </dict>
</plist>
