<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/commonv2/pagination/back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{118,1},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/commonv2/pagination/fpage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,41}</string>
                <key>textureRect</key>
                <string>{{162,1},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/commonv2/pagination/number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,41}</string>
                <key>spriteSourceSize</key>
                <string>{115,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PaginationPlist.png</string>
            <key>size</key>
            <string>{204,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72a97acb1c41459340ce2b5acf459cd6:1dd87faa414c4be41d3f01efefcc4461:b267edaa168a36e796762a35fd9b2269$</string>
            <key>textureFileName</key>
            <string>PaginationPlist.png</string>
        </dict>
    </dict>
</plist>
