<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ImgArenaInfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,465},{40,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,25}}</string>
                <key>sourceSize</key>
                <string>{40,25}</string>
            </dict>
            <key>ImgArenaStartBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,368},{54,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,103}}</string>
                <key>sourceSize</key>
                <string>{54,103}</string>
            </dict>
            <key>ImgBossNotify.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,263},{470,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,50}}</string>
                <key>sourceSize</key>
                <string>{470,50}</string>
            </dict>
            <key>ImgBroadcastBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,749},{62,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,48}</string>
            </dict>
            <key>ImgBtnExitInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,368},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>ImgBtnFishInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,813},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>ImgBtnMenuRightInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,263},{39,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,56}}</string>
                <key>sourceSize</key>
                <string>{39,56}</string>
            </dict>
            <key>ImgBtnSoundInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,321},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>ImgBtnZoomInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,767},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ImgIconVoice.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,767},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>ImgJacpotBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{187,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,382}}</string>
                <key>sourceSize</key>
                <string>{187,382}</string>
            </dict>
            <key>ImgMenuRightInGameBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,263},{68,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,261}}</string>
                <key>sourceSize</key>
                <string>{68,261}</string>
            </dict>
            <key>ImgRankInfoBgInGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,263},{200,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,36}}</string>
                <key>sourceSize</key>
                <string>{200,36}</string>
            </dict>
            <key>ImgTextActiveSkill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,385},{460,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,52}}</string>
                <key>sourceSize</key>
                <string>{460,52}</string>
            </dict>
            <key>ImgTextFishNotify.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1},{365,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,49}}</string>
                <key>sourceSize</key>
                <string>{365,49}</string>
            </dict>
            <key>JackpotBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,263},{60,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,243}}</string>
                <key>sourceSize</key>
                <string>{60,243}</string>
            </dict>
            <key>TexItem_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,749},{128,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,767},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>star_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,526},{239,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,239}}</string>
                <key>sourceSize</key>
                <string>{239,239}</string>
            </dict>
            <key>tuitien.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1},{268,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,260}}</string>
                <key>sourceSize</key>
                <string>{268,260}</string>
            </dict>
            <key>txt_nohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,385},{362,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,138}}</string>
                <key>sourceSize</key>
                <string>{362,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RESComponent.png</string>
            <key>size</key>
            <string>{510,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35622c5091c2bd2dad33d7f362c7a5c6:48d7d7b0d9ed1ec65a2fdec5736ec791:da35541eb97a74e1f92e4b4d65a28c4a$</string>
            <key>textureFileName</key>
            <string>RESComponent.png</string>
        </dict>
    </dict>
</plist>
