<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ImgFishProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,65},{118,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,50}}</string>
                <key>sourceSize</key>
                <string>{118,50}</string>
            </dict>
            <key>ImgLoading.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1},{180,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,175}}</string>
                <key>sourceSize</key>
                <string>{180,175}</string>
            </dict>
            <key>ImgLoadingBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{700,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,35}}</string>
                <key>sourceSize</key>
                <string>{700,35}</string>
            </dict>
            <key>ImgLoadingBarProcess.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,38},{690,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,25}}</string>
                <key>sourceSize</key>
                <string>{690,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RESLoading.png</string>
            <key>size</key>
            <string>{884,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3474cdc9a48a337930981f9fcdd13837:d34b52356a68a7c4dae138a4a68baa60:57df386ad5cc02d1f62aa79d8ac507d7$</string>
            <key>textureFileName</key>
            <string>RESLoading.png</string>
        </dict>
    </dict>
</plist>
