<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ImgBtnLoginFb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,181},{404,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,62}}</string>
                <key>sourceSize</key>
                <string>{404,62}</string>
            </dict>
            <key>ImgBtnRefesh.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,580},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>ImgBtnShopBtnYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,118},{191,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,54}}</string>
                <key>sourceSize</key>
                <string>{191,54}</string>
            </dict>
            <key>ImgBtnShopDownArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,181},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>ImgBtnShopShowCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,245},{208,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{208,86}}</string>
                <key>sourceSize</key>
                <string>{224,100}</string>
            </dict>
            <key>ImgBtnShopShowCardHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,438},{224,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,100}}</string>
                <key>sourceSize</key>
                <string>{224,100}</string>
            </dict>
            <key>ImgBtnTabActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,311},{267,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{267,94}}</string>
                <key>sourceSize</key>
                <string>{273,96}</string>
            </dict>
            <key>ImgBtnTabHorizontaActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,580},{249,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,76}}</string>
                <key>sourceSize</key>
                <string>{249,76}</string>
            </dict>
            <key>ImgBtnTabHorizontaNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,245},{249,64}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,64}}</string>
                <key>sourceSize</key>
                <string>{249,76}</string>
            </dict>
            <key>ImgBtnTabNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,311},{251,94}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{251,94}}</string>
                <key>sourceSize</key>
                <string>{273,96}</string>
            </dict>
            <key>ImgBtnX.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,634},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>ImgInputBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,311},{321,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,72}}</string>
                <key>sourceSize</key>
                <string>{321,72}</string>
            </dict>
            <key>ImgLoginBtnRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,245},{191,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,54}}</string>
                <key>sourceSize</key>
                <string>{191,54}</string>
            </dict>
            <key>ImgShopBgIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,67},{48,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,435}}</string>
                <key>sourceSize</key>
                <string>{48,435}</string>
            </dict>
            <key>ImgShopBoxCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,67},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>ImgShopBoxText.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,117},{422,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,62}}</string>
                <key>sourceSize</key>
                <string>{422,62}</string>
            </dict>
            <key>ImgShopBtnClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,455},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ImgShopDownArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,543},{33,40}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>ImgShopInfoBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,311},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>ImgShopInfoLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1},{3,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,12}}</string>
                <key>sourceSize</key>
                <string>{3,12}</string>
            </dict>
            <key>ImgShopInfoTittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,634},{22,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,53}}</string>
                <key>sourceSize</key>
                <string>{22,53}</string>
            </dict>
            <key>ImgSoundProcess.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,37},{474,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{474,28}}</string>
                <key>sourceSize</key>
                <string>{478,46}</string>
            </dict>
            <key>ImgSoundProcessBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{478,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{478,34}}</string>
                <key>sourceSize</key>
                <string>{478,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RESPopup.png</string>
            <key>size</key>
            <string>{487,663}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3da9b1b5ed78833a8331e6e715b107fe:dbb245865ccb2bffd22979e6e0609ea2:128c473c90608feaae018694309b0536$</string>
            <key>textureFileName</key>
            <string>RESPopup.png</string>
        </dict>
    </dict>
</plist>
