<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/commonv2/frame03/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,427}</string>
                <key>spriteSourceSize</key>
                <string>{715,427}</string>
                <key>textureRect</key>
                <string>{{1,92},{715,427}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/commonv2/frame03/btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,72}</string>
                <key>spriteSourceSize</key>
                <string>{226,72}</string>
                <key>textureRect</key>
                <string>{{48,1},{226,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/commonv2/frame03/btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/commonv2/frame03/ic_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,89}</string>
                <key>spriteSourceSize</key>
                <string>{90,89}</string>
                <key>textureRect</key>
                <string>{{276,1},{90,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FramePlist.png</string>
            <key>size</key>
            <string>{429,808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84e55909980fe8d81b20ba6ce4eafaf3:f2746674691e9e0c25c7810920c5f105:a9213d0a0d97ec1abc5c56a8d3f4f6c5$</string>
            <key>textureFileName</key>
            <string>FramePlist.png</string>
        </dict>
    </dict>
</plist>
