<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Minigamev2/sicbo/bg_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,524}</string>
                <key>spriteSourceSize</key>
                <string>{435,524}</string>
                <key>textureRect</key>
                <string>{{98,1},{435,524}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/box_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,64}</string>
                <key>spriteSourceSize</key>
                <string>{413,64}</string>
                <key>textureRect</key>
                <string>{{164,438},{413,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/box_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{525,682},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{98,438},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/current_session.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{577,682},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/d1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{624,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/d2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{624,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/d3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{624,117},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/d4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{55,56}</string>
                <key>textureRect</key>
                <string>{{624,290},{55,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/d5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{624,233},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/d6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{624,175},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{579,438},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/dice_under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{579,468},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/disc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,187}</string>
                <key>spriteSourceSize</key>
                <string>{214,187}</string>
                <key>textureRect</key>
                <string>{{214,504},{214,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/frame_bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,55}</string>
                <key>spriteSourceSize</key>
                <string>{182,55}</string>
                <key>textureRect</key>
                <string>{{624,347},{182,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/frame_checkdice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,54}</string>
                <key>spriteSourceSize</key>
                <string>{640,54}</string>
                <key>textureRect</key>
                <string>{{42,1},{640,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/frame_users.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,46}</string>
                <key>spriteSourceSize</key>
                <string>{205,46}</string>
                <key>textureRect</key>
                <string>{{166,531},{205,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/ic_auto_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{98,564},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/ic_auto_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{403,648},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/ic_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{464,648},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/ic_gui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{525,504},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/ic_his.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{480,565},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/ic_send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,58}</string>
                <key>spriteSourceSize</key>
                <string>{63,58}</string>
                <key>textureRect</key>
                <string>{{98,504},{63,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/ic_statement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{586,531},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/ic_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{525,626},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/ic_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{163,504},{21,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{738,39}</string>
                <key>spriteSourceSize</key>
                <string>{738,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{738,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/side_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,36}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{115,75}</string>
                <key>textureRect</key>
                <string>{{42,723},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/side_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,75}</string>
                <key>spriteSourceSize</key>
                <string>{115,75}</string>
                <key>textureRect</key>
                <string>{{403,531},{115,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/side_under.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,78}</string>
                <key>textureRect</key>
                <string>{{42,643},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SicboPlist.png</string>
            <key>size</key>
            <string>{681,740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a15d54a23a57020b28238502f5f5233:a3636fe0b01043e69553d7df13b40b22:dfc6711ae979363374b9f5cbf965bdc3$</string>
            <key>textureFileName</key>
            <string>SicboPlist.png</string>
        </dict>
    </dict>
</plist>
