<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Minigamev2/tanthu/btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,71}</string>
                <key>spriteSourceSize</key>
                <string>{406,71}</string>
                <key>textureRect</key>
                <string>{{388,1},{406,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/tanthu/girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,505}</string>
                <key>spriteSourceSize</key>
                <string>{385,505}</string>
                <key>textureRect</key>
                <string>{{1,1},{385,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TanThuPlist.png</string>
            <key>size</key>
            <string>{460,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31f446e1811eb6fa6c89cbce9d80a588:6ceebb6e7365f299eeb2c541940ba03c:8e05db56a4c764789c8526c9fbe4bbdc$</string>
            <key>textureFileName</key>
            <string>TanThuPlist.png</string>
        </dict>
    </dict>
</plist>
