<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/resourcemenutabv2/setting/b_setting_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{206,84},{36,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/resourcemenutabv2/setting/b_setting_0_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,31}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{206,160},{20,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/setting/b_setting_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{206,1},{36,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/setting/b_setting_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{206,122},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/setting/b_setting_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,37}</string>
                <key>spriteSourceSize</key>
                <string>{34,37}</string>
                <key>textureRect</key>
                <string>{{206,45},{34,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/setting/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,250}</string>
                <key>spriteSourceSize</key>
                <string>{203,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{203,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/setting/btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,23.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{205,50}</string>
                <key>textureRect</key>
                <string>{{206,193},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SettingPlist.png</string>
            <key>size</key>
            <string>{243,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63de48baecbbf33ec7b65c1c5fd7ae76:21f62a52b71dda519ee6543fbd007382:998c4a7c83bae936ef034ac1f805d894$</string>
            <key>textureFileName</key>
            <string>SettingPlist.png</string>
        </dict>
    </dict>
</plist>
