<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/menuv2/sercurity_info/bg_toolkit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,148}</string>
                <key>spriteSourceSize</key>
                <string>{342,148}</string>
                <key>textureRect</key>
                <string>{{75,75},{342,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/sercurity_info/btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,72}</string>
                <key>spriteSourceSize</key>
                <string>{226,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/menuv2/sercurity_info/checked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,30}</string>
                <key>spriteSourceSize</key>
                <string>{35,30}</string>
                <key>textureRect</key>
                <string>{{440,43},{35,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/sercurity_info/ic_account.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{419,119},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/sercurity_info/ic_edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{451,119},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/sercurity_info/ic_nickname.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{419,151},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/sercurity_info/ic_phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{451,151},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/sercurity_info/ic_telegram.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{440,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/sercurity_info/ic_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{419,183},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/menuv2/sercurity_info/radio.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{419,75},{42,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/menuv2/sercurity_info/txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,62}</string>
                <key>spriteSourceSize</key>
                <string>{363,62}</string>
                <key>textureRect</key>
                <string>{{75,1},{363,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SercurityInfoPlist.png</string>
            <key>size</key>
            <string>{482,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a00df2fb468017efc53c5ff1c70a9512:f9828f5f49596a011f025ef71253ebdf:12a4e7ade710c37f94df52bf160bd095$</string>
            <key>textureFileName</key>
            <string>SercurityInfoPlist.png</string>
        </dict>
    </dict>
</plist>
