<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/Minigame/ResMiniPoker/arrow_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,177},{50,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,28}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/bg_bobai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{637,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{637,174}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/bg_cangat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,391},{123,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,146}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/bg_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,351},{660,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{660,159}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/bg_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,177},{310,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,56}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/bg_labai.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,177},{113,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,144}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/Bg_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,450},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/btnChangeMoney.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1},{1,1}}</string>
				<key>offset</key>
				<string>{16,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,94}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/btntuquay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,1},{1,1}}</string>
				<key>offset</key>
				<string>{15,-70}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,141}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/btn_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1},{1,1}}</string>
				<key>offset</key>
				<string>{31,-31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/culu.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,335},{122,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,50}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/doij.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,351},{143,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,38}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/dungquay.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,273},{244,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,53}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/event_poker.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,280},{252,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,69}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/haidoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,234},{133,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,37}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/run1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,1},{1,1}}</string>
				<key>offset</key>
				<string>{161,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,53}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/samco.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,234},{145,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,39}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/sanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,231},{97,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,39}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/sp_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,391},{58,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,57}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/text_nohu.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,234},{103,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,37}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/text_thungphasanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,1},{388,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{388,54}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/thung.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,177},{146,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,52}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/tuquay.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,280},{244,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,53}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/tuquy.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,280},{170,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,60}</string>
			</dict>
			<key>res/Minigame/ResMiniPoker/saosau.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1},{306,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,277}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistMiniPoker.png</string>
			<key>realTextureFileName</key>
			<string>PlistMiniPoker.png</string>
			<key>size</key>
			<string>{1015,538}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1015</integer>
			<key>height</key>
			<integer>538</integer>
		</dict>
	</dict>
</plist>