<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/ResourceMenuTab/Profile/bg_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,331},{296,32}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{302,35}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/bg_ma_gioi_thieu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{665,275}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{667,276}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/bg_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,636},{281,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,32}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/bg_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,636},{222,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,236}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/bg_time_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,612},{47,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,22}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btnMail.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,866},{67,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,68}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btnMenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,780},{61,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,62}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btnNapVin.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,739},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btnSercurity.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,844},{59,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,62}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btnShop.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,782},{82,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,67}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_back_lobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,761},{55,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,62}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_camera.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,739},{54,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,44}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_dragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,695},{58,64}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,79}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_dragon_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,866},{73,78}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,79}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,1},{1,1}}</string>
				<key>offset</key>
				<string>{118,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,46}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_vongquay.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,235},{375,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{375,77}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/btn_vongquay_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,235},{375,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{375,77}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/circleB.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,727},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,26}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/cirle_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,636},{154,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,156}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/edit_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,739},{39,41}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/edit_profile_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,739},{39,41}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/ic_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1},{232,159}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,160}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/info_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,695},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/line_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1},{633,1}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{693,1}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/load_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,929},{107,10}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,17}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/money_Vin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,874},{246,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,53}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/money_Xu.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,874},{243,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,53}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/processExp.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,670},{285,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,23}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/process_full.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,612},{277,15}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,23}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/quangsang.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,785},{77,79}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,80}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/tb_hoso.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,1},{328,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,38}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/thanhExp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,929},{113,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,17}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/bg_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,792},{248,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,80}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/bg_hoso.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,695},{237,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,42}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/b_changepass.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,636},{203,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,57}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/ic_luuy.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,739},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>res/ResourceMenuTab/Profile/ic_lock2.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,739},{30,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistProfile.png</string>
			<key>realTextureFileName</key>
			<string>PlistProfile.png</string>
			<key>size</key>
			<string>{874,947}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>874</integer>
			<key>height</key>
			<integer>947</integer>
		</dict>
	</dict>
</plist>