<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/common/9patch.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,1},{520,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{520,61}</string>
			</dict>
			<key>res/common/animation/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,999},{22,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,87}</string>
			</dict>
			<key>res/common/animation/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,979},{22,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,18}</string>
			</dict>
			<key>res/common/avatar/Avatar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,823},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,823},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,823},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,823},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,823},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,253},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,365},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,477},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,589},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,701},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,813},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,64},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,64},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,658},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,532},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,658},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,532},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,658},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,532},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,532},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Avatar_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,624},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/bg_vongngoai_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,823},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>
			<key>res/common/avatar/Button.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,644},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,935},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>
			<key>res/common/avatar/Vong_Ngoai.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,248},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/avatar/Vong_Ngoai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,823},{124,124}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>res/common/avatar/Vong_Vang.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,360},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/common/bg_notification.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1},{529,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{529,54}</string>
			</dict>
			<key>res/common/chat/9patch.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,823},{49,49}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>res/common/chat/chat_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,949},{239,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,67}</string>
			</dict>
			<key>res/common/chat/chat_btn_emotion.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,472},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>res/common/chat/chat_btn_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,967},{85,47}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,54}</string>
			</dict>
			<key>res/common/chat/chat_btn_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,64},{57,56}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/common/chat/emotion_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,935},{70,67}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,384},{67,64}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,736},{67,69}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,245},{67,65}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,64},{68,64}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,176},{67,70}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,445},{67,60}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,384},{70,60}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,935},{70,68}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,935},{68,70}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,756},{69,64}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,935},{68,63}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,314},{68,64}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,314},{68,63}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,453},{67,64}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,176},{70,67}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,176},{67,65}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,176},{67,67}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,736},{69,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,134},{67,60}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,446},{68,60}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,314},{67,61}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,446},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,245},{67,63}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chat/emotion_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,383},{68,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,81}</string>
			</dict>
			<key>res/common/chip/vinChip0.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,935},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/common/chip/vinChip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,935},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/common/logo_xeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,1},{172,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,166}</string>
			</dict>
			<key>res/common/nohuvang/boBaiBaCay.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,392},{214,27}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,70}</string>
			</dict>
			<key>res/common/nohuvang/boBaiBaiCao.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,175},{215,27}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,69}</string>
			</dict>
			<key>res/common/nohuvang/boBaiMauBinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,608},{213,25}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,68}</string>
			</dict>
			<key>res/common/nohuvang/boBaiSam.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,608},{211,14}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,69}</string>
			</dict>
			<key>res/common/nohuvang/boBaiTienLen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,999},{214,21}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,70}</string>
			</dict>
			<key>res/common/nohuvang/huIconLighterXeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,935},{79,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,86}</string>
			</dict>
			<key>res/common/nohuvang/huIconNormalXeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,935},{79,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,86}</string>
			</dict>
			<key>res/common/nohuvang/nenBoBai.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,175},{244,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{245,69}</string>
			</dict>
			<key>res/common/nohuvang/nenGameName.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,979},{117,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,27}</string>
			</dict>
			<key>res/common/nohuvang/nenGameNameXeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,175},{229,66}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,67}</string>
			</dict>
			<key>res/common/nohuvang/nenGold.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,406},{250,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,55}</string>
			</dict>
			<key>res/common/nohuvang/nenHuVangXeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,1},{1,1}}</string>
				<key>offset</key>
				<string>{26,-121}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,244}</string>
			</dict>
			<key>res/common/nohuvang/no_hu_name_slot.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,949},{169,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,28}</string>
			</dict>
			<key>res/common/nohuvang/no_hu_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{273,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,250}</string>
			</dict>
			<key>res/common/nohuvang/no_hu_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,421},{201,67}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,71}</string>
			</dict>
			<key>res/common/nohuvang/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,472},{59,58}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistCommon.png</string>
			<key>realTextureFileName</key>
			<string>PlistCommon.png</string>
			<key>size</key>
			<string>{1024,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>