<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/popupv2/confirm/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,427}</string>
                <key>spriteSourceSize</key>
                <string>{715,427}</string>
                <key>textureRect</key>
                <string>{{1,1},{715,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/popupv2/confirm/btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,72}</string>
                <key>spriteSourceSize</key>
                <string>{226,72}</string>
                <key>textureRect</key>
                <string>{{718,1},{226,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ConfirmPopupPlist.png</string>
            <key>size</key>
            <string>{791,429}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7714716e3766943423fe11257d456abc:a4a4000007b427dca81e9234c4d034c7:01c996261906ef473556218cb4c9371b$</string>
            <key>textureFileName</key>
            <string>ConfirmPopupPlist.png</string>
        </dict>
    </dict>
</plist>
