<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Minigamev2/sicbo/keyboard/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{739,97}</string>
                <key>spriteSourceSize</key>
                <string>{739,97}</string>
                <key>textureRect</key>
                <string>{{1,1},{739,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/keyboard/btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,64}</string>
                <key>spriteSourceSize</key>
                <string>{201,64}</string>
                <key>textureRect</key>
                <string>{{1,100},{201,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/keyboard/btn_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,64}</string>
                <key>spriteSourceSize</key>
                <string>{201,64}</string>
                <key>textureRect</key>
                <string>{{204,100},{201,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/keyboard/btn_number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,59}</string>
                <key>spriteSourceSize</key>
                <string>{79,59}</string>
                <key>textureRect</key>
                <string>{{742,1},{79,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigamev2/sicbo/keyboard/btn_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,64}</string>
                <key>spriteSourceSize</key>
                <string>{201,64}</string>
                <key>textureRect</key>
                <string>{{407,100},{201,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/keyboard/btn_primary.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,64}</string>
                <key>spriteSourceSize</key>
                <string>{201,64}</string>
                <key>textureRect</key>
                <string>{{610,100},{201,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigamev2/sicbo/keyboard/btn_small_number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{803,1},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>KeyboardPlist.png</string>
            <key>size</key>
            <string>{863,165}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:add9dfbe428edd2163b4474f980c5365:6160e8446188bc0243d46f2dd8967ae5:565ee7a7800dcf4e83487c7dd7f9aea9$</string>
            <key>textureFileName</key>
            <string>KeyboardPlist.png</string>
        </dict>
    </dict>
</plist>
