<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Lobby/registerv2/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,593}</string>
                <key>spriteSourceSize</key>
                <string>{715,593}</string>
                <key>textureRect</key>
                <string>{{1,1},{715,593}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/registerv2/btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,72}</string>
                <key>spriteSourceSize</key>
                <string>{226,72}</string>
                <key>textureRect</key>
                <string>{{672,672},{226,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Lobby/registerv2/btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{731,900},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/registerv2/btn_refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,59}</string>
                <key>spriteSourceSize</key>
                <string>{57,59}</string>
                <key>textureRect</key>
                <string>{{672,900},{57,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/registerv2/captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,33}</string>
                <key>spriteSourceSize</key>
                <string>{108,33}</string>
                <key>textureRect</key>
                <string>{{718,534},{108,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Lobby/registerv2/checked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,30}</string>
                <key>spriteSourceSize</key>
                <string>{35,30}</string>
                <key>textureRect</key>
                <string>{{672,640},{35,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/registerv2/girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,669}</string>
                <key>spriteSourceSize</key>
                <string>{380,669}</string>
                <key>textureRect</key>
                <string>{{1,596},{380,669}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Lobby/registerv2/ic_block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{753,534},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/registerv2/ic_persion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{753,564},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Lobby/registerv2/radio.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{672,596},{42,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Lobby/registerv2/txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,58}</string>
                <key>spriteSourceSize</key>
                <string>{358,58}</string>
                <key>textureRect</key>
                <string>{{718,1},{358,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Lobby/registerv2/txt_captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,58}</string>
                <key>spriteSourceSize</key>
                <string>{171,58}</string>
                <key>textureRect</key>
                <string>{{718,361},{171,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RegisterPlist.png</string>
            <key>size</key>
            <string>{777,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4923306212992d86890ab746ec5bab97:86c6d4ef5a1e5972aaa1e88f798975cf:56492f7b47797436cbd659a4123fd057$</string>
            <key>textureFileName</key>
            <string>RegisterPlist.png</string>
        </dict>
    </dict>
</plist>
