<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/resourcemenutabv2/bigwin/ic_notify.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,44}</string>
                <key>spriteSourceSize</key>
                <string>{45,44}</string>
                <key>textureRect</key>
                <string>{{1550,1},{45,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/resourcemenutabv2/bigwin/line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1547,50}</string>
                <key>spriteSourceSize</key>
                <string>{1547,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{1547,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BigWinPlist.png</string>
            <key>size</key>
            <string>{1595,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85deff25464f59e5a1a4032a97617d79:07c51fabf667f4e920dc9e5669071d79:874d5efa29e243ba4f402d414d1ec2a9$</string>
            <key>textureFileName</key>
            <string>BigWinPlist.png</string>
        </dict>
    </dict>
</plist>
