<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/resourcemenutabv2/shopping/bank_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,370}</string>
                <key>spriteSourceSize</key>
                <string>{226,370}</string>
                <key>textureRect</key>
                <string>{{234,604},{226,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/bg_dropdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,210}</string>
                <key>spriteSourceSize</key>
                <string>{335,210}</string>
                <key>textureRect</key>
                <string>{{740,224},{335,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/resourcemenutabv2/shopping/bg_policies.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,404}</string>
                <key>spriteSourceSize</key>
                <string>{580,404}</string>
                <key>textureRect</key>
                <string>{{334,1},{580,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/resourcemenutabv2/shopping/bg_price.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,331}</string>
                <key>spriteSourceSize</key>
                <string>{601,331}</string>
                <key>textureRect</key>
                <string>{{1,1},{601,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/resourcemenutabv2/shopping/bg_promo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,38}</string>
                <key>spriteSourceSize</key>
                <string>{71,38}</string>
                <key>textureRect</key>
                <string>{{918,1},{71,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{918,41},{61,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/btn_refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,59}</string>
                <key>spriteSourceSize</key>
                <string>{57,59}</string>
                <key>textureRect</key>
                <string>{{918,165},{57,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/resourcemenutabv2/shopping/captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,33}</string>
                <key>spriteSourceSize</key>
                <string>{108,33}</string>
                <key>textureRect</key>
                <string>{{952,300},{108,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/resourcemenutabv2/shopping/card_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,370}</string>
                <key>spriteSourceSize</key>
                <string>{226,370}</string>
                <key>textureRect</key>
                <string>{{462,600},{226,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ewallet_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,370}</string>
                <key>spriteSourceSize</key>
                <string>{226,370}</string>
                <key>textureRect</key>
                <string>{{690,583},{226,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_amount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{952,410},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,12}</string>
                <key>spriteSourceSize</key>
                <string>{23,12}</string>
                <key>textureRect</key>
                <string>{{334,583},{23,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_bank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{952,442},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{952,474},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{740,186},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{952,506},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_checked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,30}</string>
                <key>spriteSourceSize</key>
                <string>{35,30}</string>
                <key>textureRect</key>
                <string>{{952,268},{35,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_code.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{952,538},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_edit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{918,561},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_ewallet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{950,570},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{918,103},{61,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{952,224},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{918,593},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_price.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{740,58},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_usd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{740,90},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_user.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{740,122},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/ic_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{740,154},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,1}</string>
                <key>spriteSourceSize</key>
                <string>{240,1}</string>
                <key>textureRect</key>
                <string>{{334,597},{240,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/transfer_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,370}</string>
                <key>spriteSourceSize</key>
                <string>{231,370}</string>
                <key>textureRect</key>
                <string>{{1,604},{231,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/resourcemenutabv2/shopping/txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,58}</string>
                <key>spriteSourceSize</key>
                <string>{335,58}</string>
                <key>textureRect</key>
                <string>{{918,625},{335,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/resourcemenutabv2/shopping/txt_captcha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,55}</string>
                <key>spriteSourceSize</key>
                <string>{172,55}</string>
                <key>textureRect</key>
                <string>{{740,1},{172,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ShoppingPlist.png</string>
            <key>size</key>
            <string>{995,975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7ca1775069a8528d6be4c026714dd91:dc5db94ec5edd6b25f7f24e9e2dfc892:af28ff8c6122bb713b4dbdabfdb132d0$</string>
            <key>textureFileName</key>
            <string>ShoppingPlist.png</string>
        </dict>
    </dict>
</plist>
